cflags\
	-I include\
	-I '$dir' \
	-I '$srcdir'

hdrs=libevdev/libevdev.h
for(hdr in $hdrs) {
	build '$outdir'/include/$hdr copy '$srcdir'/$hdr
	file include/$hdr '$srcdir'/$hdr 644
}
phony headers '$outdir'/include/$hdrs

lib libevdev.a libevdev/^(libevdev.c libevdev-names.c)
file lib/libevdev.a '$outdir'/libevdev.a 644

fetch git
