cflags\
	-D 'VERSION=''"4.6"''' \
	-I '$dir' \
	-I pkg/fontconfig/src\
	-I pkg/libxkbcommon/src\
	-I '$builddir'/pkg/pixman/include\
	-I '$builddir'/pkg/swc/include\
	-I '$builddir'/pkg/wayland/include\
	-I '$builddir'/pkg/wld/include

phony deps\
	'$builddir'/pkg/^(fontconfig libxkbcommon)^/fetch.stamp\
	pkg/^(pixman swc wayland wld)^/headers

exe dmenu -d '$dir'/deps dmenu.c drw.c util.c '$builddir'/pkg/^(\
	swc/swc-protocol.c.o\
	libxkbcommon/libxkbcommon.a\
	wld/libwld.a.d\
	fontconfig/libfontconfig.a.d\
	wayland/libwayland-client.a.d\
)
file bin/dmenu '$outdir'/dmenu 755
man 1 dmenu.1

exe stest stest.c
file bin/stest '$outdir'/stest 755
man 1 stest.1

for(f in dmenu_path dmenu_run)
	file bin/$f '$srcdir'/$f 755

fetch git
