cflags\
	-I '$builddir'/desktop/wayland/include

waylandproto unstable/xdg-shell/xdg-shell-unstable-v5.xml\
	include/xdg-shell-unstable-v5-^(client server)^-protocol.h\
	xdg-shell-unstable-v5-protocol.c

phony headers '$outdir'/include/xdg-shell-unstable-v5-^(client server)^-protocol.h

fetch git
