cflags\
	-std'='c99 -pedantic\
	-Wall -Wextra -Wno-maybe-uninitialized\
	-D_GNU_SOURCE\
	-D_XOPEN_SOURCE'='700\
	-D_FILE_OFFSET_BITS'='64\
	-I '$outdir'

build '$outdir/config.h' copy '$srcdir/config.def.h'

lib libutil.a\
	libutil/agetcwd.c\
	libutil/agetline.c\
	libutil/apathmax.c\
	libutil/concat.c\
	libutil/ealloc.c\
	libutil/eprintf.c\
	libutil/estrtol.c\
	libutil/estrtoul.c\
	libutil/explicit_bzero.c\
	libutil/passwd.c\
	libutil/proc.c\
	libutil/putword.c\
	libutil/recurse.c\
	libutil/strlcat.c\
	libutil/strlcpy.c\
	libutil/strtonum.c\
	libutil/tty.c

fn x {
	if(~ $1 -m) {
		mode=$2
		shift 2
	}
	if not mode=755
	exe=$1
	shift
	exe $exe -d '$outdir'/config.h $exe.c libutil.a
	file bin/$exe '$outdir'/$exe $mode
	if(~ $#* 1) file share/man/man$1/$exe.$1 '$srcdir'/$exe.$1 644
	status=()
}

x chvt 1
x clear 1
x ctrlaltdel 8
x dd 1
x df 1
x dmesg 1
x eject 1
x fallocate 1
x free 1
x freeramdisk 8
x fsfreeze 8
x getty 8
x halt 8
x hwclock 8
x id 1
x insmod 8
x killall5 8
x last
x lastlog 8
x login 1
x lsmod 8
x lsusb 8
x mesg 1
x mknod 1
x mkswap 8
x mount 8
x mountpoint 1
x nologin 8
x pagesize 1
x passwd 1
x pidof 1
x pivot_root 8
x ps 1
x readahead 8
x respawn 1
x rmmod 8
x stat 1
x stty
x -m 4755 su 1
x swaplabel 8
x swapoff 8
x swapon 8
x switch_root 8
x sysctl 8
x truncate 1
x umount 8
x unshare 1
x uptime 1
x vtallow 1
x watch 1
x who 1
