cflags\
	-D _GNU_SOURCE\
	-include '$dir'/config.h\
	-isystem pkg/openbsd/include\
	-isystem '$builddir'/pkg/libressl/include\
	-I include\
	-I '$srcdir'/src\
	-I '$srcdir'/include

yacc parse '$srcdir'/src/parse.y
exe ntpd -d pkg/libressl/headers\
	src/^(\
		client.c\
		config.c\
		constraint.c\
		control.c\
		fake-sensors.c\
		log.c\
		ntp.c\
		ntp_dns.c\
		ntp_msg.c\
		ntpd.c\
		server.c\
		util.c\
	)\
	compat/^(\
		adjfreq_linux.c\
		closefrom.c\
		freezero.c\
		imsg.c\
		imsg-buffer.c\
		md5.c\
		progname.c\
		setproctitle.c\
	)\
	'$outdir'/parse.tab.c\
	'$builddir'/pkg/^(\
		libressl/^(libcrypto.a.d libtls.a.d)\
		openbsd/libbsd.a.d\
	)
file bin/ntpd '$outdir'/ntpd 755
sym bin/ntpctl ntpd
man -d src 5 ntpd.conf.5 8 ntpd.8 ntpctl.8

fetch curl
