version=5.28
cflags\
	-DHAVE_CONFIG_H\
	-DMAGIC'='\"/share/file/magic\"\
	-D_GNU_SOURCE\
	-Wall\
	-I include\
	-I '$builddir'/core/zlib/include\
	-I '$dir' \
	-I '$outdir'/include

build '$outdir'/include/magic.h sed '$srcdir'/src/magic.h.in ; with\
	expr s,X.YY,`{echo $version | tr -d .}^,
phony headers include/magic.h

build '$outdir'/file.1 sed '$srcdir'/doc/file.man ; exprs=(\
	-e s,__CSECTION__,1,g\
	-e s,__FSECTION__,5,g\
	-e s,__VERSION__,$version,g\
	-e s,__MAGIC__,/share/file/magic,g\
) with expr $"exprs

lib libmagic.a -d 'phony/$dir/headers phony/core/zlib/headers' src/^(\
	magic.c\
	apprentice.c\
	softmagic.c\
	ascmagic.c\
	encoding.c\
	compress.c\
	is_tar.c\
	readelf.c\
	print.c\
	fsmagic.c\
	funcs.c\
	apptype.c\
	der.c\
	cdf.c\
	cdf_time.c\
	readcdf.c\
	\
	fmtcheck.c\
)

exe file -d 'phony/$dir/headers' src/file.c libmagic.a '$builddir/core/zlib/libz.a'
file bin/file '$outdir'/file 755
file share/man/man1/file.1 '$outdir'/file.1 644

# <cd src/magic/Magdir ; echo * | fmt -w 71 | awk '{print "\t" $0 "\\"}'
srcs=(\
	acorn adi adventure allegro alliant alpha amanda amigaos android\
	animation aout apl apple applix archive assembler asterix att3b audio\
	basis ber bflt bioinformatics blackberry blcr blender blit bout bsdi\
	bsi btsnoop c-lang c64 cad cafebabe cbor cddb chord cisco citrus\
	clarion claris clipper coff commands communications compress console\
	convex coverage cracklib ctags ctf cubemap cups dact database der\
	diamond diff digital dolby dump dyadic ebml editors efi elf encore epoc\
	erlang esri etf fcs filesystems finger flash flif fonts fortran frame\
	freebsd fsav fusecompress games gcc geo geos gimp gnome gnu gnumeric\
	gpt grace graphviz gringotts guile hitachi-sh hp human68k ibm370\
	ibm6000 icc iff images inform intel interleaf island ispell isz java\
	javascript jpeg karma kde keepass kerberos kml lecter lex lif linux\
	lisp llvm lua luks m4 mach macintosh macos magic mail.news make map\
	maple marc21 mathcad mathematica matroska mcrypt mercurial metastore\
	meteorological microfocus mime mips mirage misctools mkid mlssa mmdf\
	modem motorola mozilla msdos msooxml msvc msx mup music nasa natinst\
	ncr neko netbsd netscape netware news nitpicker oasis ocaml octave\
	ole2compounddocs olf os2 os400 os9 osf1 palm parix parrot pascal pbf\
	pbm pc88 pc98 pdf pdp perl pgf pgp pkgadd plan9 plus5 polyml printer\
	project psdbms pulsar pwsafe pyramid python qt revision riff rinex rpm\
	rtf ruby sc sccs scientific securitycerts selinux sendmail sequent\
	sereal sgi sgml sharc sinclair sisu sketch smalltalk smile sniffer\
	softquad spec spectrum sql ssh ssl sun symbos sysex tcl teapot terminfo\
	tex tgif ti-8x timezone troff tuxedo typeset unicode unknown uterus\
	uuencode vacuum-cleaner varied.out varied.script vax vicar virtual\
	virtutech visx vms vmware vorbis vxl warc weak windows wireless\
	wordprocessors wsdl x68000 xdelta xenix xilinx xo65 xwindows zfs zilog\
	zyxel\
)
for(src in $srcs) build '$outdir'/magic/$src copy '$srcdir'/magic/Magdir/$src
for(src in Header Localstuff) build '$outdir'/magic/$src copy '$srcdir'/magic/$src
magic_outs=magic/^(Header Localstuff $srcs)

rule magic 'cd $outdir && file -C -m magic'
build '$outdir'/magic.mgc magic '|' '$outdir'/$magic_outs
file share/file/magic.mgc '$outdir'/magic.mgc 644

fetch git
