version=5.25
cflags\
	-DHAVE_CONFIG_H\
	-DVERSION'='\"$version\"\
	-DMAGIC'='\"/share/file/magic\"\
	-D_GNU_SOURCE\
	-Wall\
	-I include\
	-I '$builddir'/core/zlib/include\
	-I '$dir' \
	-I '$outdir'/include

cd magic
magic_outs=magic/^(Header Localstuff)
for(src in Header Localstuff) build '$outdir'/magic/$src copy '$srcdir'/magic/$src
cd Magdir
srcs=*
magic_outs=($magic_outs magic/$srcs)
for(src in $srcs) build '$outdir'/magic/$src copy '$srcdir'/magic/Magdir/$src

rule magic 'cd $outdir && file -C -m magic'
build '$outdir'/magic.mgc magic '|' '$outdir'/$magic_outs

let expr s@X.YY@`{echo $version | tr -d .}^@ --\
	build '$outdir'/include/magic.h sed '$srcdir'/src/magic.h.in
phony headers include/magic.h

let expr '-e s@__CSECTION__@1@g -e s@__FSECTION__@5@g -e s@__VERSION__@'$version'@g -e s@__MAGIC__@/share/file/magic@g' --\
	build '$outdir'/file.1 sed '$srcdir'/doc/file.man

srcs=(\
	src/magic.c\
	src/apprentice.c\
	src/softmagic.c\
	src/ascmagic.c\
	src/encoding.c\
	src/compress.c\
	src/is_tar.c\
	src/readelf.c\
	src/print.c\
	src/fsmagic.c\
	src/funcs.c\
	src/apptype.c\
	src/cdf.c\
	src/cdf_time.c\
	src/readcdf.c\
	\
	src/fmtcheck.c\
) {
	for(src in $srcs) cc $src '||' 'phony/$dir/headers' phony/core/zlib/headers
	ar libmagic.a $srcs.o
}

exe file src/file.c libmagic.a '$builddir/core/zlib/libz.a'

file bin/file '$outdir'/file 755
file share/man/man1/file.1 '$outdir'/file.1 644
file share/file/magic.mgc '$outdir'/magic.mgc 644
