version=5.28
cflags\
	-DHAVE_CONFIG_H\
	-DMAGIC'='\"/share/file/magic\"\
	-D_GNU_SOURCE\
	-Wall\
	-I include\
	-I '$builddir'/core/zlib/include\
	-I '$dir' \
	-I '$outdir'/include

magic_outs=magic/^(Header Localstuff)
for(src in Header Localstuff) build '$outdir'/magic/$src copy '$srcdir'/magic/$src
cd magic/Magdir
srcs=*
magic_outs=($magic_outs magic/$srcs)
for(src in $srcs) build '$outdir'/magic/$src copy '$srcdir'/magic/Magdir/$src

rule magic 'cd $outdir && file -C -m magic'
build '$outdir'/magic.mgc magic '|' '$outdir'/$magic_outs

let expr s@X.YY@`{echo $version | tr -d .}^@ --\
	build '$outdir'/include/magic.h sed '$srcdir'/src/magic.h.in
phony headers include/magic.h

let expr '-e s@__CSECTION__@1@g -e s@__FSECTION__@5@g -e s@__VERSION__@'$version'@g -e s@__MAGIC__@/share/file/magic@g' --\
	build '$outdir'/file.1 sed '$srcdir'/doc/file.man

lib libmagic.a -d 'phony/$dir/headers phony/core/zlib/headers' src/^(\
	magic.c\
	apprentice.c\
	softmagic.c\
	ascmagic.c\
	encoding.c\
	compress.c\
	is_tar.c\
	readelf.c\
	print.c\
	fsmagic.c\
	funcs.c\
	apptype.c\
	der.c\
	cdf.c\
	cdf_time.c\
	readcdf.c\
	\
	fmtcheck.c\
)

exe file -d 'phony/$dir/headers' src/file.c libmagic.a '$builddir/core/zlib/libz.a'

file bin/file '$outdir'/file 755
file share/man/man1/file.1 '$outdir'/file.1 644
file share/file/magic.mgc '$outdir'/magic.mgc 644
