cflags\
	-Wall '-Wformat=2' -Wmissing-declarations -Wmissing-prototypes\
	-Wold-style-definition -Wstrict-prototypes\
	-D _GNU_SOURCE\
	-D HAVE_SETNS\
	-I '$srcdir'/include\
	-I '$srcdir'/misc

lib libnetlink.a lib/^(\
	libgenl.c ll_map.c libnetlink.c\
	\
	utils.c rt_names.c ll_types.c ll_proto.c ll_addr.c\
	inet_proto.c namespace.c json_writer.c\
	names.c color.c\
	(dnet ipx mpls)^_ntop.c (dnet ipx mpls)^_pton.c\
)

exe bin/ip ip/^(\
	ip.c ipaddress.c ipaddrlabel.c iproute.c iprule.c ipnetns.c\
	rtm_map.c iptunnel.c ip6tunnel.c tunnel.c ipneigh.c ipntable.c iplink.c\
	ipmaddr.c ipmonitor.c ipmroute.c ipprefix.c iptuntap.c iptoken.c\
	ipxfrm.c xfrm_state.c xfrm_policy.c xfrm_monitor.c\
	iplink_vlan.c link_veth.c link_gre.c iplink_can.c\
	iplink_macvlan.c ipl2tp.c link_vti.c link_vti6.c\
	iplink_vxlan.c tcp_metrics.c iplink_ipoib.c ipnetconf.c link_ip6tnl.c\
	link_iptnl.c link_gre6.c iplink_bond.c iplink_bond_slave.c iplink_hsr.c\
	iplink_bridge.c iplink_bridge_slave.c ipfou.c iplink_ipvlan.c\
	iplink_geneve.c iplink_vrf.c iproute_lwtunnel.c ipmacsec.c ipila.c\
) libnetlink.a

exe bin/bridge\
	bridge/^(bridge.c fdb.c monitor.c link.c mdb.c vlan.c)\
	libnetlink.a

yacc ssfilter '$srcdir'/misc/ssfilter.y
exe bin/ss misc/ss.c '$outdir'/ssfilter.tab.c libnetlink.a

for(exe in bin/^(ip bridge ss)) file $exe '$outdir'/$exe 755
man=(\
	bridge ip ss\
	ip-^(\
                addrlabel fou gue l2tp macsec maddress monitor mroute neighbour\
                netconf netns ntable rule tcp_metrics token tunnel xfrm\
	)\
) for(man in man/man8/$man.8) file share/$man '$srcdir'/$man 644
for(man in ip-address ip-link ip-route) {
	build '$outdir'/$man.8 sed '$srcdir'/man/man8/$man.8.in ; with\
		expr s,@SYSCONFDIR@,/etc,g
	file share/man/man8/$man.8 '$outdir'/$man.8 644
}

fetch git
