cflags\
	-isystem '$builddir'/media/alsa-lib/include\
	-I include\
	-I '$dir' \
	-I '$srcdir'/include

libs='$builddir'/media/alsa-lib/libasound.a
deps=phony/media/alsa-lib/headers

fn x {
	name=$1
	shift
	exe bin/$name -d $"deps $* $libs
	file bin/$name '$outdir'/bin/$name 755
	file share/man/man1/$name.1 '$srcdir'/$name/$name.1 644
}

x amixer amixer/amixer.c alsamixer/volume_mapping.c
x aplay aplay/aplay.c

fetch git
