cflags\
	-D 'FUSE_USE_VERSION=31' \
	-isystem pkg/libfuse/src/include\
	-I '$dir'

build '$outdir'/sshfs.1 sed '$srcdir'/sshfs.1.in ; exprs=(\
	-e 's,@UNMOUNT_COMMAND@,''fusermount3 -u'',' \
	-e 's,@IDMAP_DEFAULT@,''"none"'',' \
) with expr $"exprs

exe sshfs -d '$builddir'/pkg/libfuse/fetch.stamp\
	sshfs.c nocache.c '$builddir'/pkg/libfuse/libfuse.a
file bin/sshfs '$outdir'/sshfs 755
man -d '$outdir' 1 sshfs.1

fetch git
