cflags\
	-D HAVE_EXPAT_CONFIG_H\
	-isystem pkg/openbsd/include\
	-I include\
	-I '$dir'

lib libexpat.a expat/lib/^(xmlparse.c xmltok.c xmlrole.c)\
	'$builddir'/pkg/openbsd/libbsd.a.d

hdrs=(expat.h expat_external.h)
for(hdr in $hdrs) build '$outdir'/include/$hdr copy '$srcdir'/expat/lib/$hdr
phony headers '$outdir'/include/$hdrs

fetch git
