cflags\
	-Wall -Wextra '-std=c99' -pedantic\
	-D '_POSIX_C_SOURCE=200809L'

exe samu build.c deps.c env.c graph.c htab.c lex.c log.c parse.c samurai.c tool.c util.c
file bin/samu '$outdir'/samu 755
man 1 samu.1

fetch git
