cflags\
	-isystem '$builddir'/pkg/ncurses/include\
	-I include\
	-I '$dir'

exe less -d pkg/ncurses/headers\
	main.c screen.c brac.c ch.c charset.c cmdbuf.c\
	command.c cvt.c decode.c edit.c filename.c forwback.c\
	help.c ifile.c input.c jump.c line.c linenum.c\
	lsystem.c mark.c optfunc.c option.c opttbl.c os.c\
	output.c pattern.c position.c prompt.c search.c signal.c\
	tags.c ttyin.c version.c\
	'$builddir'/pkg/ncurses/libncurses.a
file bin/less '$outdir'/less 755

build '$outdir'/less.1.gz gzip '$srcdir'/less.nro
file share/man/man1/less.1.gz '$outdir'/less.1.gz 644

fetch curl
