[submodule "core/awk/src"]
	path = core/awk/src
	url = https://github.com/onetrueawk/awk
[submodule "core/cparser/src"]
	path = core/cparser/src
	url = http://pp.ipd.kit.edu/git/cparser.git
[submodule "core/curl/src"]
	path = core/curl/src
	url = https://github.com/curl/curl
[submodule "core/file/src"]
	path = core/file/src
	url = https://github.com/file/file
[submodule "core/git/src"]
	path = core/git/src
	url = https://github.com/git/git
[submodule "core/iproute2/src"]
	path = core/iproute2/src
	url = https://git.kernel.org/pub/scm/linux/kernel/git/shemminger/iproute2.git
[submodule "core/kbd/src"]
	path = core/kbd/src
	url = https://git.kernel.org/pub/scm/linux/kernel/git/legion/kbd.git
[submodule "core/libfirm/src"]
	path = core/libfirm/src
	url = http://pp.ipd.kit.edu/git/libfirm.git
[submodule "core/libressl/src"]
	path = core/libressl/src
	url = https://github.com/libressl-portable/openbsd
[submodule "core/loksh/src"]
	path = core/loksh/src
	url = https://github.com/dimkr/loksh
[submodule "core/msmtp/src"]
	path = core/msmtp/src
	url = git://git.code.sf.net/p/msmtp/code
[submodule "core/ninja/src"]
	path = core/ninja/src
	url = https://github.com/ninja-build/ninja
[submodule "core/pigz/src"]
	path = core/pigz/src
	url = https://github.com/madler/pigz
[submodule "core/plan9port/src"]
	path = core/plan9port/src
	url = https://github.com/9fans/plan9port
[submodule "core/sbase/src"]
	path = core/sbase/src
	url = git://git.suckless.org/sbase
[submodule "core/sinit/src"]
	path = core/sinit/src
	url = git://git.suckless.org/sinit
[submodule "core/tz/src"]
	path = core/tz/src
	url = https://github.com/eggert/tz
[submodule "core/ubase/src"]
	path = core/ubase/src
	url = git://git.suckless.org/ubase
[submodule "core/zlib/src"]
	path = core/zlib/src
	url = https://github.com/madler/zlib
