[submodule "pkg/alsa-lib/src"]
	path = pkg/alsa-lib/src
	url = git://git.alsa-project.org/alsa-lib.git
	ignore = all
[submodule "pkg/alsa-utils/src"]
	path = pkg/alsa-utils/src
	url = git://git.alsa-project.org/alsa-utils.git
	ignore = all
[submodule "pkg/awk/src"]
	path = pkg/awk/src
	url = https://github.com/onetrueawk/awk
	ignore = all
[submodule "pkg/ccid/src"]
	path = pkg/ccid/src
	url = https://anonscm.debian.org/git/pcsclite/CCID.git
	ignore = all
[submodule "pkg/dmenu/src"]
	path = pkg/dmenu/src
	url = git://git.suckless.org/dmenu
	ignore = all
[submodule "pkg/e2fsprogs/src"]
	path = pkg/e2fsprogs/src
	url = https://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
[submodule "pkg/efibootmgr/src"]
	path = pkg/efibootmgr/src
	url = https://github.com/rhinstaller/efibootmgr
[submodule "pkg/efivar/src"]
	path = pkg/efivar/src
	url = https://github.com/rhinstaller/efivar
[submodule "pkg/expat/src"]
	path = pkg/expat/src
	url = https://github.com/libexpat/libexpat
[submodule "pkg/ffmpeg/src"]
	path = pkg/ffmpeg/src
	url = https://git.ffmpeg.org/ffmpeg.git
	ignore = all
[submodule "pkg/file/src"]
	path = pkg/file/src
	url = https://github.com/file/file
[submodule "pkg/fontconfig/src"]
	path = pkg/fontconfig/src
	url = https://anongit.freedesktop.org/git/fontconfig
	ignore = all
[submodule "pkg/freetype/src"]
	path = pkg/freetype/src
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "pkg/fribidi/src"]
	path = pkg/fribidi/src
	url = https://anongit.freedesktop.org/git/fribidi/fribidi.git
[submodule "pkg/git/src"]
	path = pkg/git/src
	url = https://github.com/git/git
	ignore = all
[submodule "pkg/hostap/src"]
	path = pkg/hostap/src
	url = git://w1.fi/hostap.git
	ignore = all
[submodule "pkg/ii/src"]
	path = pkg/ii/src
	url = git://git.suckless.org/ii
[submodule "pkg/iproute2/src"]
	path = pkg/iproute2/src
	url = https://git.kernel.org/pub/scm/linux/kernel/git/shemminger/iproute2.git
	ignore = all
[submodule "pkg/libass/src"]
	path = pkg/libass/src
	url = https://github.com/libass/libass
[submodule "pkg/libdrm/src"]
	path = pkg/libdrm/src
	url = https://anongit.freedesktop.org/git/mesa/drm.git
[submodule "pkg/libevdev/src"]
	path = pkg/libevdev/src
	url = https://anongit.freedesktop.org/git/libevdev.git
[submodule "pkg/libevent/src"]
	path = pkg/libevent/src
	url = https://github.com/libevent/libevent
[submodule "pkg/libffi/src"]
	path = pkg/libffi/src
	url = https://github.com/libffi/libffi
[submodule "pkg/libfuse/src"]
	path = pkg/libfuse/src
	url = https://github.com/libfuse/libfuse
	ignore = all
[submodule "pkg/libinput/src"]
	path = pkg/libinput/src
	url = https://github.com/michaelforney/libinput
[submodule "pkg/libjpeg-turbo/src"]
	path = pkg/libjpeg-turbo/src
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "pkg/libnl/src"]
	path = pkg/libnl/src
	url = https://github.com/thom311/libnl
	ignore = all
[submodule "pkg/libpciaccess/src"]
	path = pkg/libpciaccess/src
	url = https://anongit.freedesktop.org/git/xorg/lib/libpciaccess.git
	ignore = all
[submodule "pkg/libpng/src"]
	path = pkg/libpng/src
	url = https://git.code.sf.net/p/libpng/code
[submodule "pkg/libusb/src"]
	path = pkg/libusb/src
	url = https://github.com/libusb/libusb
[submodule "pkg/loksh/src"]
	path = pkg/loksh/src
	url = https://github.com/dimkr/loksh
	ignore = all
[submodule "pkg/make/src"]
	path = pkg/make/src
	url = git://git.sv.gnu.org/make.git
[submodule "pkg/mc/src"]
	path = pkg/mc/src
	url = https://github.com/oridb/mc
[submodule "pkg/mpv/src"]
	path = pkg/mpv/src
	url = https://github.com/mpv-player/mpv
	ignore = all
[submodule "pkg/msmtp/src"]
	path = pkg/msmtp/src
	url = https://git.code.sf.net/p/msmtp/code
	ignore = all
[submodule "pkg/mtdev/src"]
	path = pkg/mtdev/src
	url = https://github.com/rydberg/mtdev
[submodule "pkg/netsurf/src"]
	path = pkg/netsurf/src
	url = git://git.netsurf-browser.org/netsurf.git
	ignore = all
[submodule "pkg/netsurf/libcss/src"]
	path = pkg/netsurf/libcss/src
	url = git://git.netsurf-browser.org/libcss.git
[submodule "pkg/netsurf/libdom/src"]
	path = pkg/netsurf/libdom/src
	url = git://git.netsurf-browser.org/libdom.git
[submodule "pkg/netsurf/libhubbub/src"]
	path = pkg/netsurf/libhubbub/src
	url = git://git.netsurf-browser.org/libhubbub.git
[submodule "pkg/netsurf/libnsbmp/src"]
	path = pkg/netsurf/libnsbmp/src
	url = git://git.netsurf-browser.org/libnsbmp.git
[submodule "pkg/netsurf/libnsfb/src"]
	path = pkg/netsurf/libnsfb/src
	url = git://git.netsurf-browser.org/libnsfb.git
	ignore = all
[submodule "pkg/netsurf/libnsgif/src"]
	path = pkg/netsurf/libnsgif/src
	url = git://git.netsurf-browser.org/libnsgif.git
[submodule "pkg/netsurf/libnsutils/src"]
	path = pkg/netsurf/libnsutils/src
	url = git://git.netsurf-browser.org/libnsutils.git
[submodule "pkg/netsurf/libparserutils/src"]
	path = pkg/netsurf/libparserutils/src
	url = git://git.netsurf-browser.org/libparserutils.git
[submodule "pkg/netsurf/libutf8proc/src"]
	path = pkg/netsurf/libutf8proc/src
	url = git://git.netsurf-browser.org/libutf8proc.git
[submodule "pkg/netsurf/libwapcaplet/src"]
	path = pkg/netsurf/libwapcaplet/src
	url = git://git.netsurf-browser.org/libwapcaplet.git
[submodule "pkg/netsurf/nsgenbind/src"]
	path = pkg/netsurf/nsgenbind/src
	url = git://git.netsurf-browser.org/nsgenbind.git
	ignore = all
[submodule "pkg/nginx/src"]
	path = pkg/nginx/src
	url = https://github.com/nginx/nginx
[submodule "pkg/ninja/src"]
	path = pkg/ninja/src
	url = https://github.com/ninja-build/ninja
[submodule "pkg/openssh/src"]
	path = pkg/openssh/src
	url = https://github.com/openssh/openssh-portable
[submodule "pkg/pcsc/src"]
	path = pkg/pcsc/src
	url = https://anonscm.debian.org/git/pcsclite/PCSC.git
	ignore = all
[submodule "pkg/pigz/src"]
	path = pkg/pigz/src
	url = https://github.com/madler/pigz
	ignore = all
[submodule "pkg/pixman/src"]
	path = pkg/pixman/src
	url = https://anongit.freedesktop.org/git/pixman.git
[submodule "pkg/plan9fonts/src"]
	path = pkg/plan9fonts/src
	url = https://github.com/rtrn/plan9fonts
[submodule "pkg/plan9port/src"]
	path = pkg/plan9port/src
	url = https://github.com/9fans/plan9port
	ignore = all
[submodule "pkg/qbe/src"]
	path = pkg/qbe/src
	url = git://c9x.me/qbe.git
[submodule "pkg/sbase/src"]
	path = pkg/sbase/src
	url = https://github.com/michaelforney/sbase
[submodule "pkg/scc/src"]
	path = pkg/scc/src
	url = git://git.suckless.org/scc
	ignore = all
[submodule "pkg/sdhcp/src"]
	path = pkg/sdhcp/src
	url = https://github.com/michaelforney/sdhcp
[submodule "pkg/sinit/src"]
	path = pkg/sinit/src
	url = git://git.suckless.org/sinit
[submodule "pkg/sshfs/src"]
	path = pkg/sshfs/src
	url = https://github.com/libfuse/sshfs
	ignore = all
[submodule "pkg/st/src"]
	path = pkg/st/src
	url = git://git.suckless.org/st
	ignore = all
[submodule "pkg/swc/src"]
	path = pkg/swc/src
	url = https://github.com/michaelforney/swc
[submodule "pkg/the_silver_searcher/src"]
	path = pkg/the_silver_searcher/src
	url = https://github.com/ggreer/the_silver_searcher
[submodule "pkg/tz/src"]
	path = pkg/tz/src
	url = https://github.com/eggert/tz
[submodule "pkg/ubase/src"]
	path = pkg/ubase/src
	url = https://github.com/michaelforney/ubase
[submodule "pkg/util-linux/src"]
	path = pkg/util-linux/src
	url = https://git.kernel.org/pub/scm/utils/util-linux/util-linux.git
[submodule "pkg/velox/src"]
	path = pkg/velox/src
	url = https://github.com/michaelforney/velox
[submodule "pkg/vis/src"]
	path = pkg/vis/src
	url = https://github.com/martanne/vis
[submodule "pkg/wayland-protocols/src"]
	path = pkg/wayland-protocols/src
	url = https://anongit.freedesktop.org/git/wayland/wayland-protocols.git
[submodule "pkg/wayland/src"]
	path = pkg/wayland/src
	url = https://anongit.freedesktop.org/git/wayland/wayland.git
	ignore = all
[submodule "pkg/wld/src"]
	path = pkg/wld/src
	url = https://github.com/michaelforney/wld
[submodule "pkg/xkeyboard-config/src"]
	path = pkg/xkeyboard-config/src
	url = https://anongit.freedesktop.org/git/xkeyboard-config.git
[submodule "pkg/xz/src"]
	path = pkg/xz/src
	url = http://git.tukaani.org/xz.git
[submodule "pkg/youtube-dl/src"]
	path = pkg/youtube-dl/src
	url = https://github.com/rg3/youtube-dl
	ignore = all
[submodule "pkg/zlib/src"]
	path = pkg/zlib/src
	url = https://github.com/madler/zlib
