subgen core
subgen desktop
subgen devel
subgen extra
subgen media

subgen util

file .perms '$outdir'/root.perms 644

build '$builddir/$repo.stamp' gitinit
build '$builddir/$repo.tree' gittree '$outdir/root.index' '|' '$builddir/$repo.stamp' ./scripts/tree.rc
build '$builddir/$repo.tar' gitarchive '|' '$builddir/$repo.tree'
build '$builddir/$repo.commit' gitcommit '|' '$builddir/$repo.tree'
build commit phony '$builddir/$repo.commit'

echo default '$builddir/$repo.tree'
