core=(\
	awk\
	bc\
	bzip2\
	curl\
	e2fsprogs\
	git\
	iproute2\
	kbd\
	libressl\
	loksh\
	mandoc\
	musl\
	openbsd\
	openntpd\
	openssh\
	perp\
	pigz\
	plan9port\
	samurai\
	sbase\
	scron\
	sdhcp\
	sinit\
	skeleton\
	tz\
	ubase\
	util-linux\
	xz\
)
extra=(\
	file\
	less\
	libfuse\
	ncurses\
	the_silver_searcher\
	unzip\
	vis\
)
devel=(\
	make\
	qbe\
	nasm\
	scc\
	strace\
	mc\
	man-pages-posix\
)
media=(\
	alsa-utils\
	ffmpeg\
	mpv\
	youtube-dl\
)
net=(\
	hostap\
	ii\
	msmtp\
	nginx\
	sshfs\
	transmission\
)
desktop=(\
	adobe-source-fonts\
	dmenu\
	netsurf\
	st\
	swc\
	terminus-font\
	velox\
	xkeyboard-config\
)
