cflags\
	-D CONFIG_CTRL_IFACE\
	-D CONFIG_CTRL_IFACE_UNIX\
	-D CONFIG_DRIVER_NL80211\
	-D CONFIG_ELOOP_POLL\
	-D CONFIG_LIBNL20\
	-D CONFIG_LIBNL32\
	-D CONFIG_NO_CONFIG_BLOBS\
	-D CONFIG_NO_CONFIG_WRITE\
	-D CONFIG_PEERKEY\
	-D CONFIG_SHA256\
	-D CONFIG_TDLS\
	-isystem '$builddir'/core/libressl/include\
	-isystem '$builddir'/extra/libnl/include\
	-I '$srcdir'/src/utils\
	-I '$srcdir'/src

deps=phony/^(core/libressl extra/libnl)^/headers

lib libcommon.a -d $"deps src/utils/^(common.c eloop.c os_unix.c wpa_debug.c)

exe bin/wpa_supplicant -d $"deps\
	src/common/^(\
		hw_features_common.c\
		ieee802_11_common.c\
		wpa_common.c\
	)\
	src/crypto/^(\
		aes-omac1.c\
		crypto_openssl.c\
		random.c\
		sha1-prf.c\
		sha256-prf.c\
		tls_none.c\
	)\
	src/drivers/^(\
		driver_common.c\
		driver_nl80211.c\
		driver_nl80211_capa.c\
		driver_nl80211_event.c\
		driver_nl80211_monitor.c\
		driver_nl80211_scan.c\
		drivers.c\
		linux_ioctl.c\
		netlink.c\
		rfkill.c\
	)\
	src/l2_packet/l2_packet_linux.c\
	src/rsn_supp/^(\
		peerkey.c\
		pmksa_cache.c\
		preauth.c\
		tdls.c\
		wpa.c\
		wpa_ie.c\
	)\
	src/utils/^(radiotap.c wpabuf.c)\
	wpa_supplicant/^(\
		blacklist.c\
		bss.c\
		config.c\
		config_file.c\
		ctrl_iface.c\
		ctrl_iface_unix.c\
		eap_register.c\
		events.c\
		main.c\
		notify.c\
		scan.c\
		wmm_ac.c\
		wpa_supplicant.c\
		wpas_glue.c\
	)\
	libcommon.a\
	'$builddir'/^(\
		core/libressl/libcrypto.a\
		core/openbsd/libbsd.a\
		extra/libnl/^(libnl-3.a libnl-genl-3.a)\
	)
file bin/wpa_supplicant '$outdir'/bin/wpa_supplicant 755

exe bin/wpa_cli -d $"deps\
	src/common/wpa_ctrl.c\
	src/utils/edit_simple.c\
	wpa_supplicant/wpa_cli.c\
	libcommon.a
file bin/wpa_cli '$outdir'/bin/wpa_cli 755
