cflags\
	-include '$dir'/config.h\
	-isystem '$builddir'/core/libressl/include\
	-isystem '$builddir'/extra/libnl/include\
	-I '$srcdir'/src/utils\
	-I '$srcdir'/src

phony deps (core/libressl extra/libnl)^/headers

lib libcommon.a -d '$dir'/deps src/utils/^(common.c eloop.c os_unix.c wpa_debug.c)

exe bin/wpa_supplicant -d '$dir'/deps\
	src/ap/^(\
		wpa_auth.c\
		wpa_auth_ie.c\
		pmksa_cache_auth.c\
		peerkey_auth.c\
	)\
	src/common/^(\
		ctrl_iface_common.c\
		hw_features_common.c\
		ieee802_11_common.c\
		wpa_common.c\
	)\
	src/crypto/^(\
		aes-omac1.c\
		crypto_openssl.c\
		random.c\
		sha1-prf.c\
		sha256-prf.c\
		tls_none.c\
	)\
	src/drivers/^(\
		driver_common.c\
		driver_nl80211.c\
		driver_nl80211_capa.c\
		driver_nl80211_event.c\
		driver_nl80211_monitor.c\
		driver_nl80211_scan.c\
		drivers.c\
		linux_ioctl.c\
		netlink.c\
		rfkill.c\
	)\
	src/l2_packet/l2_packet_linux.c\
	src/rsn_supp/^(\
		peerkey.c\
		pmksa_cache.c\
		preauth.c\
		tdls.c\
		wpa.c\
		wpa_ie.c\
	)\
	src/utils/^(radiotap.c wpabuf.c)\
	wpa_supplicant/^(\
		blacklist.c\
		bss.c\
		config.c\
		config_file.c\
		ctrl_iface.c\
		ctrl_iface_unix.c\
		eap_register.c\
		events.c\
		ibss_rsn.c\
		main.c\
		notify.c\
		scan.c\
		sme.c\
		wmm_ac.c\
		wpa_supplicant.c\
		wpas_glue.c\
	)\
	libcommon.a\
	'$builddir'/^(\
		core/libressl/libcrypto.a\
		core/openbsd/libbsd.a\
		extra/libnl/^(libnl-3.a libnl-genl-3.a)\
	)
file bin/wpa_supplicant '$outdir'/bin/wpa_supplicant 755

exe bin/wpa_cli -d '$dir'/deps\
	src/common/^(cli.c wpa_ctrl.c)\
	src/utils/edit_simple.c\
	wpa_supplicant/wpa_cli.c\
	libcommon.a
file bin/wpa_cli '$outdir'/bin/wpa_cli 755

fetch git
