cflags\
	-D 'VERSION=''"0.7"''' \
	-isystem pkg/fontconfig/src\
	-isystem pkg/libxkbcommon/src\
	-isystem '$builddir'/pkg/pixman/include\
	-isystem '$builddir'/pkg/wayland/include\
	-isystem '$builddir'/pkg/wayland-protocols/include\
	-isystem '$builddir'/pkg/wld/include\
	-I '$dir'

phony deps\
	'$builddir'/pkg/^(fontconfig libxkbcommon)^/fetch.stamp\
	pkg/^(pixman wayland wayland-protocols wld)^/headers

exe st -d '$dir'/deps st.c '$builddir'/^(\
	pkg/libxkbcommon/libxkbcommon.a\
	pkg/wayland/libwayland-client.a.d\
	pkg/wayland/libwayland-cursor.a.d\
	pkg/wayland-protocols/xdg-shell-unstable-v5-protocol.c.o\
	pkg/wld/libwld.a.d\
)
file bin/st '$outdir'/st 755
file share/man/man1/st.1 '$srcdir'/st.1 644

terminfo=s/^(st st-256color)
terminfo_outs='$outdir'/$terminfo
build $"terminfo_outs tic '$srcdir'/st.info ; with\
	ticflags '-x -o $outdir'
for(t in $terminfo)
	file share/terminfo/$t '$outdir'/$t 644

fetch git
