cflags\
	-D 'EFIBOOTMGR_VERSION=''"14"''' \
	-isystem '$builddir'/pkg/efivar/include\
	-I '$srcdir'/src/include

exe efibootmgr -d pkg/efivar/headers\
	src/^(efibootmgr.c efi.c unparse_path.c)\
	'$builddir'/pkg/efivar/^(libefiboot.a libefivar.a)
file bin/efibootmgr '$outdir'/efibootmgr 755
man -d src 8 efibootmgr.8

fetch git
