toolchain host
cflags -I '$srcdir'/src

for(src in nsgenbind-^(lexer parser)^.c webidl-^(lexer parser)^.c)
	build '$outdir'/src/$src.o cc '$dir'/$src '||' '$outdir'/fetch.stamp

exe nsgenbind src/^(\
	nsgenbind.c utils.c webidl-ast.c nsgenbind-ast.c ir.c\
	duk-libdom.c duk-libdom-interface.c duk-libdom-dictionary.c\
	duk-libdom-common.c duk-libdom-generated.c\
	\
	nsgenbind-lexer.c.o nsgenbind-parser.c.o\
	webidl-lexer.c.o webidl-parser.c.o\
)

fetch git
