cflags -D NDEBUG

subgen libcss
subgen libdom
subgen libhubbub
subgen libnsbmp
subgen libnsgif
subgen libnsutils
subgen libparserutils
subgen libutf8proc
subgen libwapcaplet
subgen nsgenbind

{
	toolchain host
	exe convert_image -d pkg/libpng/headers frontends/framebuffer/convert_image.c ; with\
		ldlibs '-lpng -lz'
} >tools.ninja ; subninja tools.ninja

# netsurf
cflags\
	-include '$dir'/config.h\
	-isystem '$builddir'/pkg/curl/include\
	-isystem '$builddir'/pkg/libjpeg-turbo/include\
	-isystem '$builddir'/pkg/libpng/include\
	-isystem '$builddir'/pkg/libressl/include\
	-isystem '$builddir'/pkg/pixman/include\
	-isystem '$builddir'/pkg/wayland/include\
	-isystem '$builddir'/pkg/wayland-protocols/include\
	-isystem '$builddir'/pkg/zlib/include\
	-isystem '$dir'/libcss/src/include\
	-isystem '$dir'/libdom/src/include\
	-isystem '$dir'/libhubbub/src/include\
	-isystem '$dir'/libnsbmp/src/include\
	-isystem '$dir'/libnsgif/src/include\
	-isystem '$dir'/libnsutils/src/include\
	-isystem '$dir'/libparserutils/src/include\
	-isystem '$dir'/libutf8proc/src/include\
	-isystem '$dir'/libwapcaplet/src/include\
	-isystem pkg/freetype/src/include\
	-isystem pkg/libxkbcommon/src\
	-isystem pkg/openbsd/include\
	-I '$dir' \
	-I '$srcdir' \
	-I '$srcdir'/include\
	-I '$srcdir'/frontends\
	-I '$srcdir'/content/handlers\
	-I '$outdir' \
	-I '$outdir'/libdom/include

gen_inputs=($gen_inputs '$dir'/nsgenbind.txt) ; checkstatus
rule nsgenbind '$outdir/nsgenbind/nsgenbind -v -I $srcdir/content/handlers/javascript/WebIDL $in $outdir/duktape' ; with\
	restat 1

nsgenbind_srcs='$outdir'/duktape/`{cat nsgenbind.txt}
build $"nsgenbind_srcs nsgenbind '$srcdir'/content/handlers/javascript/duktape/netsurf.bnd '|' '$outdir'/nsgenbind/nsgenbind

phony deps '$outdir'/duktape/binding.c\
	'$outdir'/^(\
		libcss libdom libhubbub libnsbmp libnsgif libparserutils\
		libutf8proc libwapcaplet libnsutils\
	)^/fetch.stamp\
	'$builddir'/pkg/^(freetype libxkbcommon)^/fetch.stamp\
	('$dir'/libdom pkg/^(curl libjpeg-turbo libpng libressl zlib))^/headers

exe netsurf -d '$dir'/deps\
	desktop/^(\
		cookie_manager.c knockout.c hotlist.c mouse.c\
		plot_style.c print.c search.c searchweb.c scrollbar.c\
		sslcert_viewer.c textarea.c version.c system_colour.c\
		local_history.c global_history.c treeview.c\
		\
		browser.c browser_history.c download.c frames.c netsurf.c\
		save_complete.c save_text.c selection.c textinput.c gui_factory.c\
		save_pdf.c font_haru.c\
	)\
	frontends/tiny/^(download.c fetch.c icons.c gui.c render.c schedule.c ui.c wl.c)\
	content/^(\
		content.c content_factory.c dirlist.c fetch.c hlcache.c\
		llcache.c mimesniff.c urldb.c no_backing_store.c\
		fetchers/^(curl.c data.c file.c about.c resource.c)\
		handlers/^(\
			javascript/^(fetcher.c content.c duktape/^(dukky.c duktape.c))\
			css/^(css.c dump.c internal.c hints.c select.c utils.c)\
			image/^(image.c image_cache.c bmp.c ico.c gif.c jpeg.c png.c)\
		)\
	)\
	utils/^(\
		bloom.c\
		corestrings.c\
		file.c\
		filename.c\
		filepath.c\
		hashtable.c\
		idna.c\
		libdom.c\
		log.c\
		messages.c\
		nsoption.c\
		punycode.c\
		talloc.c\
		time.c\
		url.c\
		useragent.c\
		utf8.c\
		utils.c\
		http/^(\
			challenge.c generics.c primitives.c parameter.c\
			content-disposition.c content-type.c www-authenticate.c\
		)\
		nsurl/^(\
			nsurl.c\
			parse.c\
		)\
	)\
	render/^(\
		box.c box_construct.c box_normalise.c box_textarea.c\
		font.c form.c imagemap.c layout.c search.c table.c textplain.c\
		html.c html_css.c html_css_fetcher.c html_script.c\
		html_interaction.c html_redraw.c html_redraw_border.c\
		html_forms.c html_object.c\
	)\
	'$outdir'/^(\
		duktape/`{grep '\.c$' nsgenbind.txt}\
		\
		libcss/libcss.a.d\
		libdom/libdom.a.d\
		libnsbmp/libnsbmp.a\
		libnsgif/libnsgif.a\
		libnsutils/libnsutils.a\
		libutf8proc/libutf8proc.a\
	)\
	'$builddir'/pkg/^(\
		curl/libcurl.a.d\
		freetype/libfreetype.a.d\
		libjpeg-turbo/libjpeg-turbo.a\
		libpng/libpng.a\
		libxkbcommon/libxkbcommon.a\
		pixman/libpixman.a\
		wayland/^(libwayland-client.a.d libwayland-cursor.a)\
		zlib/libz.a\
		\
		wayland-protocols/xdg-shell-unstable-v5-protocol.c.o\
	)
file bin/netsurf '$outdir'/netsurf 755

build '$outdir'/netsurf.1 sed '$srcdir'/docs/netsurf-fb.1 ; with\
	expr 's,netsurf-fb,netsurf,g'
man -d '$outdir' 1 netsurf.1

build '$outdir'/Messages awk '$srcdir'/resources/FatMessages '|' '$dir'/messages.awk ; with\
	expr '-f $dir/messages.awk -v lang=en -v filter=any'
file share/netsurf/Messages '$outdir'/Messages 644

file share/netsurf/adblock.css '$srcdir'/!NetSurf/Resources/AdBlock,f79 644
file share/netsurf/credits.html '$srcdir'/!NetSurf/Resources/en/credits.html,faf 644
file share/netsurf/default.css '$srcdir'/!NetSurf/Resources/CSS,f79 644
file share/netsurf/favicon.png '$srcdir'/resources/favicon.png 644
file share/netsurf/internal.css '$srcdir'/!NetSurf/Resources/internal.css,f79 644
file share/netsurf/licence.html '$srcdir'/!NetSurf/Resources/en/licence.html,faf 644
sym share/netsurf/maps.html welcome.html
file share/netsurf/netsurf.png '$srcdir'/!NetSurf/Resources/netsurf.png,b60 644
file share/netsurf/quirks.css '$srcdir'/!NetSurf/Resources/Quirks,f79 644
file share/netsurf/welcome.html '$srcdir'/!NetSurf/Resources/en/welcome.html,faf 644
for(icon in back forward add remove home reload stop close)
	file share/netsurf/icons/$icon.ff '$srcdir'/frontends/tiny/res/icons/$icon.ff 644

fetch git
