cflags -D NDEBUG

subgen libcss
subgen libdom
subgen libhubbub
subgen libnsbmp
subgen libnsfb
subgen libnsgif
subgen libnsutils
subgen libparserutils
subgen libutf8proc
subgen libwapcaplet
subgen nsgenbind

{
	toolchain host
	exe convert_image -d pkg/libpng/headers frontends/framebuffer/convert_image.c ; with\
		ldlibs '-lpng -lz'
} >tools.ninja ; subninja tools.ninja

# netsurf
cflags\
	-include '$dir'/config.h\
	-isystem '$builddir'/pkg/curl/include\
	-isystem '$builddir'/pkg/libjpeg-turbo/include\
	-isystem '$builddir'/pkg/libpng/include\
	-isystem '$dir'/libcss/src/include\
	-isystem '$dir'/libdom/src/include\
	-isystem '$dir'/libhubbub/src/include\
	-isystem '$dir'/libnsbmp/src/include\
	-isystem '$dir'/libnsfb/src/include\
	-isystem '$dir'/libnsgif/src/include\
	-isystem '$dir'/libnsutils/src/include\
	-isystem '$dir'/libparserutils/src/include\
	-isystem '$dir'/libutf8proc/src/include\
	-isystem '$dir'/libwapcaplet/src/include\
	-isystem pkg/freetype/src/include\
	-isystem pkg/libxkbcommon/src\
	-I '$dir' \
	-I '$srcdir' \
	-I '$srcdir'/include\
	-I '$srcdir'/frontends\
	-I '$srcdir'/content/handlers\
	-I '$outdir' \
	-I '$outdir'/libdom/include

gen_inputs=($gen_inputs '$dir'/nsgenbind.txt) ; checkstatus
rule nsgenbind '$outdir/nsgenbind/nsgenbind -v -I $srcdir/content/handlers/javascript/WebIDL $in $outdir/duktape' ; with\
	restat 1

nsgenbind_srcs='$outdir'/duktape/`{cat nsgenbind.txt}
build $"nsgenbind_srcs nsgenbind '$srcdir'/content/handlers/javascript/duktape/netsurf.bnd '|' '$outdir'/nsgenbind/nsgenbind

rule convert_image '$outdir/convert_image $in $out $var'
fn convert_image {
	build '$outdir'/$1.c convert_image '$srcdir'/frontends/$2 '|' '$outdir'/convert_image ; with\
		var $1
}

convert_image left_arrow framebuffer/res/icons/back.png
convert_image right_arrow framebuffer/res/icons/forward.png
convert_image reload framebuffer/res/icons/reload.png
convert_image stop_image framebuffer/res/icons/stop.png
convert_image history_image framebuffer/res/icons/history.png

convert_image left_arrow_g framebuffer/res/icons/back_g.png
convert_image right_arrow_g framebuffer/res/icons/forward_g.png
convert_image reload_g framebuffer/res/icons/reload_g.png
convert_image stop_image_g framebuffer/res/icons/stop_g.png
convert_image history_image_g framebuffer/res/icons/history_g.png

convert_image osk_image framebuffer/res/icons/osk.png

for(d in l r u d)
	convert_image scroll$d framebuffer/res/icons/scroll$d.png
for(n in 0 1 2 3 4 5 6 7 8)
	convert_image throbber$n gtk/res/throbber/throbber$n.png

phony deps '$outdir'/duktape/binding.c\
	'$outdir'/^(\
		libcss libdom libhubbub libnsbmp libnsfb libnsgif\
		libparserutils libutf8proc libwapcaplet libnsutils\
	)^/fetch.stamp\
	'$builddir'/pkg/^(freetype libxkbcommon)^/fetch.stamp\
	('$dir'/libdom pkg/^(curl libjpeg-turbo libpng))^/headers

exe netsurf -d '$dir'/deps\
	desktop/^(\
		cookie_manager.c knockout.c hotlist.c mouse.c\
		plot_style.c print.c search.c searchweb.c scrollbar.c\
		sslcert_viewer.c textarea.c tree.c version.c\
		system_colour.c global_history.c treeview.c\
		\
		browser.c browser_history.c download.c frames.c netsurf.c\
		save_complete.c save_text.c selection.c textinput.c gui_factory.c\
		save_pdf.c font_haru.c\
	)\
	frontends/framebuffer/^(\
		gui.c framebuffer.c schedule.c bitmap.c fetch.c\
		findfile.c localhistory.c clipboard.c\
		font_freetype.c\
		fbtk/^(\
			fbtk.c event.c fill.c bitmap.c user.c window.c\
			text.c scroll.c osk.c\
		)\
	)\
	content/^(\
		content.c content_factory.c dirlist.c fetch.c hlcache.c\
		llcache.c mimesniff.c urldb.c no_backing_store.c\
		fetchers/^(curl.c data.c file.c about.c resource.c)\
		handlers/^(\
			javascript/^(fetcher.c content.c duktape/^(dukky.c duktape.c))\
			css/^(css.c dump.c internal.c hints.c select.c utils.c)\
			image/^(image.c image_cache.c bmp.c ico.c gif.c jpeg.c png.c)\
		)\
	)\
	utils/^(\
		base64.c\
		bloom.c\
		corestrings.c\
		file.c\
		filename.c\
		filepath.c\
		hashtable.c\
		idna.c\
		libdom.c\
		log.c\
		messages.c\
		nsoption.c\
		nsurl.c\
		punycode.c\
		talloc.c\
		time.c\
		url.c\
		useragent.c\
		utf8.c\
		utils.c\
		http/^(\
			challenge.c generics.c primitives.c parameter.c\
			content-disposition.c content-type.c www-authenticate.c\
		)\
	)\
	render/^(\
		box.c box_construct.c box_normalise.c box_textarea.c\
		font.c form.c imagemap.c layout.c search.c table.c textplain.c\
		html.c html_css.c html_css_fetcher.c html_script.c\
		html_interaction.c html_redraw.c html_forms.c html_object.c\
	)\
	'$outdir'/^(\
		duktape/`{grep '\.c$' nsgenbind.txt}\
		left_arrow.c right_arrow.c reload.c stop_image.c history_image.c\
		left_arrow_g.c right_arrow_g.c reload_g.c stop_image_g.c history_image_g.c\
		scroll^(l r u d)^.c\
		osk_image.c\
		throbber^(0 1 2 3 4 5 6 7 8)^.c\
		\
		libcss/libcss.a.d\
		libdom/libdom.a.d\
		libnsbmp/libnsbmp.a\
		libnsfb/^(libnsfb.a.d src/surface/ram.c.o wl.c.o)\
		libnsgif/libnsgif.a\
		libnsutils/libnsutils.a\
		libutf8proc/libutf8proc.a\
	)\
	'$builddir'/pkg/^(\
		curl/libcurl.a.d\
		freetype/libfreetype.a.d\
		libjpeg-turbo/libjpeg-turbo.a\
		libpng/libpng.a\
		zlib/libz.a\
	)
file bin/netsurf '$outdir'/netsurf 755

build '$outdir'/netsurf.1 sed '$srcdir'/Docs/netsurf-fb.1 ; with\
	expr 's,netsurf-fb,netsurf,g'
man -d '$outdir' 1 netsurf.1

build '$outdir'/Messages awk '$srcdir'/resources/FatMessages '|' '$dir'/messages.awk ; with\
	expr '-f $dir/messages.awk -v lang=en -v filter=any'
file share/netsurf/Messages '$outdir'/Messages 644

file share/netsurf/adblock.css '$srcdir'/!NetSurf/Resources/AdBlock,f79 644
file share/netsurf/credits.html '$srcdir'/!NetSurf/Resources/en/credits.html,faf 644
file share/netsurf/default.css '$srcdir'/!NetSurf/Resources/CSS,f79 644
file share/netsurf/favicon.png '$srcdir'/resources/favicon.png 644
file share/netsurf/internal.css '$srcdir'/!NetSurf/Resources/internal.css,f79 644
file share/netsurf/licence.html '$srcdir'/!NetSurf/Resources/en/licence.html,faf 644
sym share/netsurf/maps.html welcome.html
file share/netsurf/netsurf.png '$srcdir'/!NetSurf/Resources/netsurf.png,b60 644
file share/netsurf/quirks.css '$srcdir'/!NetSurf/Resources/Quirks,f79 644
file share/netsurf/welcome.html '$srcdir'/!NetSurf/Resources/en/welcome.html,faf 644

fetch git
