subgen ccid
subgen efibootmgr
subgen efivar
subgen fribidi
subgen hostap
subgen less
subgen libevent
subgen libfuse
subgen libnl
subgen libtermkey
subgen libusb
subgen lpeg
subgen man-pages-posix
subgen msmtp
subgen ncurses
subgen pcre
subgen pcsc
subgen sshfs
subgen the_silver_searcher
subgen transmission
subgen unzip
subgen vis
