subgen ccid
subgen efibootmgr
subgen efivar
subgen hostap
subgen libevent
subgen libfuse
subgen libnl
subgen libusb
subgen man-pages-posix
subgen msmtp
subgen pcre
subgen pcsc
subgen sshfs
subgen the_silver_searcher
subgen transmission
subgen unzip
