tzdata=(\
	africa\
	antarctica\
	asia\
	australasia\
	europe\
	northamerica\
	southamerica\
	pacificnew\
	etcetera\
	backward\
	systemv\
	factory\
)

rule zic '$zic -d $outdir/zoneinfo $in'

for(data in $tzdata) {
	zones=`{awk '/^Zone/ {print $2}' $data}
	if(! ~ $#zones 0) {
		outs='$outdir'/zoneinfo/$zones
		build $"outs zic '$srcdir'/$data
		for(zone in $zones) file share/zoneinfo/$zone '$outdir'/zoneinfo/$zone 644
	}
	ifs='
' { links=`{awk '/^Link/ {print $2 " " $3}' $data} }
	for(line in $links) link=`{printf %s $line} sym share/zoneinfo/$link(2) $link(1)
}
