cflags=(\
	-D WITH_WAYLAND_SHM\
	-D WITH_WAYLAND_DRM\
	-isystem pkg/fontconfig/src\
	-isystem pkg/freetype/src/include\
	-isystem pkg/libdrm/src\
	-isystem pkg/libdrm/src/include/drm\
	-isystem '$builddir'/pkg/pixman/include\
	-isystem '$builddir'/pkg/wayland/include\
	-I '$outdir' \
)

hdrs=(drm.h pixman.h wayland.h wld.h)
for(hdr in $hdrs) {
	build '$outdir'/include/wld/$hdr copy '$srcdir'/$hdr
	file include/wld/$hdr '$srcdir'/$hdr 644
}
phony headers '$outdir'/include/wld/$hdrs

srcs=(\
	buffer.c\
	buffered_surface.c\
	color.c\
	context.c\
	drm.c\
	dumb.c\
	font.c\
	renderer.c\
	surface.c\
	pixman.c\
	wayland.c\
	wayland-shm.c\
	wayland-drm.c\
	wayland-drm-protocol.c.o\
)
libs=(\
	fontconfig/libfontconfig.a.d\
	freetype/libfreetype.a.d\
	libdrm/libdrm.a\
	pixman/libpixman.a\
	wayland/libwayland-client.a.d\
)

if(~ intel $config_video_drivers) {
	cflags=($cflags -D WITH_DRM_INTEL -I pkg/libdrm/src/intel)
	srcs=($srcs intel.c intel/batch.c)
	libs=($libs libdrm/libdrm_intel.a.d)
}
if(~ nouveau $config_video_drivers) {
	cflags=($cflags -D WITH_DRM_NOUVEAU -I pkg/libdrm/src/nouveau)
	srcs=($srcs nouveau.c)
	libs=($libs libdrm/libdrm_nouveau.a)
}

cflags $cflags

waylandproto protocol/wayland-drm.xml\
	protocol/wayland-drm-^(client server)^-protocol.h\
	wayland-drm-protocol.c

phony deps\
	'$outdir'/protocol/wayland-drm-client-protocol.h\
	'$builddir'/pkg/^(fontconfig freetype libdrm)^/fetch.stamp\
	pkg/^(pixman wayland)^/headers

lib libwld.a -d '$dir'/deps $srcs '$builddir'/pkg/$libs

fetch git
