subgen awk
subgen bc
subgen bzip2
subgen curl
subgen e2fsprogs
subgen file
subgen git
subgen iproute2
subgen kbd
subgen libressl
subgen loksh
subgen mdocml
subgen ninja
subgen openbsd
subgen openssh
subgen perp
subgen pigz
subgen plan9port
subgen sbase
subgen sdhcp
subgen sinit
subgen skeleton
subgen tz
subgen ubase
subgen xz
subgen zlib
