subgen awk
subgen bzip2
subgen cparser
subgen file
subgen git
subgen iproute2
subgen kbd
subgen libfirm
subgen libressl
subgen loksh
subgen mdocml
subgen openbsd
subgen perp
subgen pigz
subgen plan9port
subgen sbase
subgen sinit
subgen skeleton
subgen tz
subgen ubase
subgen zlib
