cflags\
	-I '$builddir'/extra/efivar/include\
	-I '$srcdir'/src/include

exe efibootmgr -d extra/efivar/headers\
	src/^(efibootmgr/efibootmgr.c lib/^(efi.c unparse_path.c))\
	'$builddir'/extra/efivar/^(libefiboot.a libefivar.a)
file bin/efibootmgr '$outdir'/efibootmgr 755
file share/man/man8/efibootmgr.8 '$srcdir'/src/man/man8/efibootmgr.8 644

fetch git
