# HTML/EPUB require harfbuzz, JPX requires openjpeg
cflags\
	-D 'FZ_ENABLE_JS=0' \
	-D 'FZ_ENABLE_HTML=0' \
	-D 'FZ_ENABLE_EPUB=0' \
	-D 'FZ_ENABLE_JPX=0' \
	-D NOTO_SMALL\
	-D NOCJK\
	-D SHARE_JPEG\
	-isystem pkg/freetype/src/include\
	-isystem pkg/jbig2dec/src\
	-isystem '$builddir'/pkg/libjpeg-turbo/include\
	-I '$srcdir'/include\
	-I '$outdir'

{
	toolchain host
	cflags -Wall

	exe namedump scripts/namedump.c
	exe hexdump scripts/hexdump.c
} >tools.ninja && subninja tools.ninja

rule namedump '$outdir/namedump $in $out'
outs='$outdir'/^(mupdf/pdf/name-table.h pdf-name-table.h)
build $"outs namedump '$srcdir'/resources/pdf/names.txt '|' '$outdir'/namedump

rule hexdump '$outdir/hexdump -p $srcdir/ $out.tmp $in && mv $out.tmp $out'
fonts=`{grep -v '^#' fonts.txt} ; checkstatus
for(font in $fonts)
	build '$outdir'/$font.c hexdump '$srcdir'/resources/fonts/$font '|' '$outdir'/hexdump

phony deps\
	pkg/^(curl libjpeg-turbo)^/headers\
	'$builddir'/pkg/^(freetype jbig2dec)^/fetch.stamp\
	'$outdir'/mupdf/pdf/name-table.h

srcs=`{grep -v -e '^#' -e harfbuzz.c sources.txt} ; checkstatus
lib libmupdf.a -d '$dir'/deps source/$srcs '$outdir'/$fonts.c\
	'$builddir'/pkg/^(\
		freetype/libfreetype.a.d\
		jbig2dec/libjbig2dec.a\
		libjpeg-turbo/libjpeg-turbo.a\
	)

exe bin/mutool -d '$dir'/deps source/tools/^(\
	mutool.c muconvert.c mudraw.c murun.c\
	pdfclean.c pdfcreate.c pdfextract.c pdfinfo.c pdfmerge.c pdfpages.c\
	pdfportfolio.c pdfposter.c pdfshow.c\
) libmupdf.a.d
file bin/mutool '$outdir'/bin/mutool 755

cc platform/x11/curl_stream.c ; with\
	cflags '$cflags -isystem $builddir/pkg/curl/include'
cc platform/x11/wl_main.c ; cflags=(\
	-isystem '$builddir'/pkg/pixman/include\
	-isystem '$builddir'/pkg/wayland/include\
	-isystem '$builddir'/pkg/wayland-protocols/include\
	-isystem pkg/libxkbcommon/src\
) with cflags '$cflags '$"cflags
exe bin/mupdf platform/x11/^(pdfapp.c curl_stream.c.o wl_main.c.o)\
	libmupdf.a.d\
	'$builddir'/pkg/^(\
		curl/libcurl.a.d\
		jbig2dec/libjbig2dec.a\
		libxkbcommon/libxkbcommon.a\
		pixman/libpixman.a\
		wayland-protocols/xdg-shell-unstable-v5-protocol.c.o\
		wayland/libwayland-client.a.d\
		wayland/libwayland-cursor.a\
	)
file bin/mupdf '$outdir'/bin/mupdf 755

man -d docs/man 1 mutool.1 mupdf.1

fetch git
gen_inputs='$dir'/^(sources.txt fonts.txt)
