cflags\
	-isystem pkg/openbsd/include\
	-isystem '$builddir'/pkg/zlib/include\
	-I include\
	-I '$dir'

lib libmandoc.a -d pkg/zlib/headers\
	man.c\
	man_hash.c\
	man_macro.c\
	man_validate.c\
	\
	att.c\
	lib.c\
	mdoc.c\
	mdoc_argv.c\
	mdoc_hash.c\
	mdoc_macro.c\
	mdoc_state.c\
	mdoc_validate.c\
	st.c\
	\
	eqn.c\
	roff.c\
	tbl.c\
	tbl_data.c\
	tbl_layout.c\
	tbl_opts.c\
	\
	chars.c\
	mandoc.c\
	mandoc_aux.c\
	mandoc_ohash.c\
	msec.c\
	preconv.c\
	read.c\
	\
	compat_ohash.c

exe mandoc\
	main.c\
	manpath.c\
	out.c\
	tag.c\
	tree.c\
	\
	eqn_html.c\
	html.c\
	man_html.c\
	mdoc_html.c\
	tbl_html.c\
	\
	mdoc_man.c\
	\
	eqn_term.c\
	man_term.c\
	mdoc_term.c\
	term.c\
	term_ascii.c\
	term_ps.c\
	tbl_term.c\
	libmandoc.a\
	'$builddir'/pkg/^(openbsd/libbsd.a zlib/libz.a)
exe demandoc demandoc.c libmandoc.a '$builddir'/pkg/^(openbsd/libbsd.a zlib/libz.a)

for(exe in mandoc demandoc) file bin/$exe '$outdir'/$exe 755
sym bin/man mandoc
for(man in mandoc.1 demandoc.1 man.1 mandoc.3 man.conf.5 man.7 mdoc.7 roff.7 eqn.7 tbl.7 mandoc_char.7) {
	sect=`{printf %s $man | tail -c 1}
	file share/man/man$sect/$man '$srcdir'/$man 644
}

fetch curl
