cflags\
	-D '''DEF_WEAK(n)=''' \
	-I '$dir'/include\
	-I '$builddir'/core/libressl/include\
	-idirafter '$srcdir'/include\
	-idirafter '$srcdir'/sys

# Link arc4random.c to '$outdir' so that it doesn't include the local
# arc4random.h
build '$outdir'/lib/libc/crypt/arc4random.c copy '$srcdir'/lib/libc/crypt/arc4random.c
build '$outdir'/lib/libc/crypt/arc4random.h copy '$srcdir'/lib/libcrypto/crypto/arc4random_linux.h
build '$outdir'/lib/libc/crypt/chacha_private.h copy '$srcdir'/lib/libc/crypt/chacha_private.h
cc '$outdir'/lib/libc/crypt/arc4random.c '||' '$outdir'/lib/libc/crypt/^(arc4random.h chacha_private.h)

lib libbsd.a -d phony/core/libressl/headers\
	lib/libc/^(\
		crypt/^(arc4random.c.o arc4random_uniform.c)\
		gen/^(fts.c vis.c warnc.c vwarnc.c)\
		stdlib/^(reallocarray.c strtonum.c)\
		string/^(explicit_bzero.c strmode.c timingsafe_memcmp.c)\
	)\
	lib/libcrypto/crypto/getentropy_linux.c

# pax
exe pax bin/pax/^(\
	ar_io.c ar_subs.c buf_subs.c cache.c cpio.c file_subs.c ftree.c\
	gen_subs.c getoldopt.c options.c pat_rep.c pax.c sel_subs.c tables.c\
	tar.c tty_subs.c\
) libbsd.a
file bin/pax '$outdir'/pax 755
for(alias in tar cpio) sym bin/$alias pax
for(man in pax tar cpio) file share/man/man1/$man.1 '$srcdir'/bin/pax/$man.1 644

# yacc
exe yacc usr.bin/yacc/^(\
	closure.c error.c lalr.c lr0.c main.c mkpar.c output.c reader.c\
	skeleton.c symtab.c verbose.c warshall.c\
) libbsd.a
file bin/yacc '$outdir'/yacc 755
file share/man/man1/yacc.1 '$srcdir'/usr.bin/yacc/yacc.1 644

# fmt
exe fmt usr.bin/fmt/fmt.c
file bin/fmt '$outdir'/fmt 755
file share/man/man1/fmt.1 '$srcdir'/usr.bin/fmt/fmt.1 644

# diff
exe diff usr.bin/diff/^(diff.c diffdir.c diffreg.c xmalloc.c) libbsd.a
file bin/diff '$outdir'/diff 755
file share/man/man1/diff.1 '$srcdir'/usr.bin/diff/diff.1 644

# patch
exe patch usr.bin/patch/^(patch.c pch.c inp.c util.c backupfile.c mkpath.c ed.c) libbsd.a
file bin/patch '$outdir'/patch 755
file share/man/man1/patch.1 '$srcdir'/usr.bin/patch/patch.1 644
