#!/bin/rc

. ./config.rc

flag e +

ifs='
'
repo=$1
out=$2
dir=$3
shift 2

fn checkstatus {}

wd=`{pwd}
checkstatus

cd $dir
pages=man?p/*
pages=()
for(f in man?p/*) if(fs extra/man-pages-posix $f)
	pages=($pages $f)
cd $wd

if(~ $#pages 0) {
	>$out
	>$out.d
	exit
}

hashes=`{git -C $repo hash-object -w --no-filters -- $wd/$dir/$pages}
checkstatus

~ $#pages $#hashes
printf '100644 %s\n' $hashes'	share/man/'$pages >$out.tmp
mv $out.tmp $out

echo $out: $dir/$pages >$out.d.tmp
mv $out.d.tmp $out.d
