#!/bin/rc

. ./config.rc

flag e +

ifs='
'
~ $#* 4
repo=$1
out=$2
dir=$3
outdir=$4

fn checkstatus {}

wd=`{pwd}
checkstatus

cd $dir
pages=man?p/*
pages=()
for(d in man?p) {
	mkdir -p $wd/$outdir/$d
	for(f in $d/*) if(fs man-pages-posix share/man/$f.gz) {
		gzip -c -9 -n $f > $wd/$outdir/$f.gz
		pages=($pages $f)
	}
}
cd $wd

if(~ $#pages 0) {
	>$out
	>$out.d
	exit
}

hashes=`{git -C $repo hash-object -w --no-filters -- $wd/$outdir/$pages.gz}
checkstatus
rm $outdir/$pages.gz

~ $#pages $#hashes
printf '100644 %s\n' $hashes'	share/man/'$pages.gz >$out.tmp
mv $out.tmp $out

echo $out: $dir/$pages >$out.d.tmp
mv $out.d.tmp $out.d
