rule manpages 'rc ./$dir/manpages.rc $builddir/$repo.git $out $srcdir' ; with\
	deps gcc\
	depfile '$out.d'
build '$outdir'/manpages.index manpages '|' '$dir'/manpages.rc config.rc '||' '$outdir'/fetch.stamp
index_inputs=($index_inputs '$outdir'/manpages.index)

fetch curl
