cflags\
	-D '_FILE_OFFSET_BITS=64' \
	-D 'FUSE_USE_VERSION=26' \
	-I include\
	-I '$dir' \
	-I '$srcdir'/include\
	-I '$srcdir'/lib

cc lib/mount_util.c

exe fusermount util/fusermount.c lib/mount_util.c.o
file bin/fusermount '$outdir'/fusermount 4755
man -d doc 1 fusermount.1

lib libfuse.a lib/^(\
	fuse.c\
	fuse_kern_chan.c\
	fuse_loop.c\
	fuse_loop_mt.c\
	fuse_lowlevel.c\
	fuse_mt.c\
	fuse_opt.c\
	fuse_session.c\
	fuse_signals.c\
	buffer.c\
	cuse_lowlevel.c\
	helper.c\
	modules/subdir.c\
	\
	mount.c mount_util.c.o\
)

fetch git
