cflags\
	-D HAVE_CONFIG_H\
	-isystem '$builddir'/pkg/libressl/include\
	-isystem '$builddir'/pkg/zlib/include\
	-I include\
	-I '$dir' \
	-I '$outdir'/include/curl\
	-I '$outdir'/include\
	-I '$srcdir'/lib\
	-I '$srcdir'/src

hdrs=include/curl/^(curl.h curlrules.h curlver.h easy.h mprintf.h multi.h stdcheaders.h typecheck-gcc.h)
for(hdr in $hdrs) build '$outdir'/$hdr copy '$srcdir'/$hdr
build '$outdir'/include/curl/curlbuild.h copy '$srcdir'/include/curl/curlbuild.h.dist
phony headers '$outdir'/^($hdrs include/curl/curlbuild.h)

phony deps '$dir'/headers pkg/^(libressl zlib)^/headers

# src/lib/Makefile.inc:/^CSOURCES
lib libcurl.a -d '$dir'/deps lib/^(\
	file.c timeval.c base64.c hostip.c progress.c formdata.c\
	cookie.c http.c sendf.c ftp.c url.c dict.c if2ip.c speedcheck.c\
	ldap.c version.c getenv.c escape.c mprintf.c telnet.c netrc.c\
	getinfo.c transfer.c strcase.c easy.c security.c curl_fnmatch.c\
	fileinfo.c ftplistparser.c wildcard.c krb5.c memdebug.c http_chunks.c\
	strtok.c connect.c llist.c hash.c multi.c content_encoding.c share.c\
	http_digest.c md4.c md5.c http_negotiate.c inet_pton.c strtoofft.c\
	strerror.c amigaos.c hostasyn.c hostip4.c hostip6.c hostsyn.c\
	inet_ntop.c parsedate.c select.c tftp.c splay.c strdup.c socks.c\
	ssh.c curl_addrinfo.c socks_gssapi.c socks_sspi.c\
	curl_sspi.c slist.c nonblock.c curl_memrchr.c imap.c pop3.c smtp.c\
	pingpong.c rtsp.c curl_threads.c warnless.c hmac.c curl_rtmp.c\
	openldap.c curl_gethostname.c gopher.c idn_win32.c\
	http_proxy.c non-ascii.c asyn-ares.c asyn-thread.c curl_gssapi.c\
	http_ntlm.c curl_ntlm_wb.c curl_ntlm_core.c curl_sasl.c rand.c\
	curl_multibyte.c hostcheck.c conncache.c pipeline.c dotdot.c\
	x509asn1.c http2.c smb.c curl_endian.c curl_des.c system_win32.c\
	vauth/^(\
		vauth.c cleartext.c cram.c\
		digest.c digest_sspi.c krb5_gssapi.c\
		krb5_sspi.c ntlm.c ntlm_sspi.c oauth2.c\
		spnego_gssapi.c spnego_sspi.c\
	)\
	vtls/^(\
		openssl.c gtls.c vtls.c nss.c\
		polarssl.c polarssl_threadlock.c axtls.c\
		cyassl.c schannel.c darwinssl.c gskit.c\
		mbedtls.c\
	)\
) '$builddir'/pkg/^(\
	libressl/^(libssl.a.d libcrypto.a.d)\
	zlib/libz.a\
)

build '$outdir'/tool_hugehelp.c.o cc '$dir'/tool_hugehelp.c '||' '$dir'/deps '$srcdir'/src/tool_hugehelp.h

# src/src/Makefile.inc:/^CURL_CFILES
exe curl -d '$dir'/deps\
	src/^(\
		slist_wc.c\
		tool_binmode.c\
		tool_bname.c\
		tool_cb_dbg.c\
		tool_cb_hdr.c\
		tool_cb_prg.c\
		tool_cb_rea.c\
		tool_cb_see.c\
		tool_cb_wrt.c\
		tool_cfgable.c\
		tool_convert.c\
		tool_dirhie.c\
		tool_doswin.c\
		tool_easysrc.c\
		tool_formparse.c\
		tool_getparam.c\
		tool_getpass.c\
		tool_help.c\
		tool_helpers.c\
		tool_homedir.c\
		tool_libinfo.c\
		tool_main.c\
		tool_metalink.c\
		tool_mfiles.c\
		tool_msgs.c\
		tool_operate.c\
		tool_operhlp.c\
		tool_panykey.c\
		tool_paramhlp.c\
		tool_parsecfg.c\
		tool_strdup.c\
		tool_setopt.c\
		tool_sleep.c\
		tool_urlglob.c\
		tool_util.c\
		tool_vms.c\
		tool_writeenv.c\
		tool_writeout.c\
		tool_xattr.c\
	)\
	tool_hugehelp.c.o\
	libcurl.a.d

file bin/curl '$outdir'/curl 755
man -d docs 1 curl.1

fetch git
