cflags\
	-I include\
	-I '$dir' \
	-I '$outdir' \
	-I '$srcdir'/include

hdrs=libevdev/libevdev.h
for(hdr in $hdrs) {
	build '$outdir'/include/$hdr copy '$srcdir'/$hdr
	file include/$hdr '$srcdir'/$hdr 644
}
phony headers '$outdir'/include/$hdrs

build '$outdir'/event-names.h awk '$srcdir'/include/linux/^(input.h input-event-codes.h) '|' '$dir'/eventnames.awk ; with\
	expr '-f $dir/eventnames.awk'
lib libevdev.a -d '$outdir'/event-names.h libevdev/^(libevdev.c libevdev-names.c)
file lib/libevdev.a '$outdir'/libevdev.a 644

fetch git
