version=5.29
cflags\
	-Wall\
	-D HAVE_CONFIG_H\
	-D 'MAGIC=''"/share/file/magic"''' \
	-D _GNU_SOURCE\
	-isystem '$builddir'/pkg/zlib/include\
	-I include\
	-I '$dir' \
	-I '$outdir'/include

build '$outdir'/include/magic.h sed '$srcdir'/src/magic.h.in ; with\
	expr s,X.YY,`{echo $version | tr -d .}^,
phony headers '$outdir'/include/magic.h

build '$outdir'/file.1 sed '$srcdir'/doc/file.man ; exprs=(\
	-e s,__CSECTION__,1,g\
	-e s,__FSECTION__,5,g\
	-e s,__VERSION__,$version,g\
	-e s,__MAGIC__,/share/file/magic,g\
) with expr $"exprs

phony deps ('$dir' pkg/zlib)^/headers

lib libmagic.a -d '$dir'/deps src/^(\
	magic.c\
	apprentice.c\
	softmagic.c\
	ascmagic.c\
	encoding.c\
	compress.c\
	is_tar.c\
	readelf.c\
	print.c\
	fsmagic.c\
	funcs.c\
	apptype.c\
	der.c\
	cdf.c\
	cdf_time.c\
	readcdf.c\
	\
	fmtcheck.c\
)

exe file -d '$dir'/headers src/file.c libmagic.a '$builddir/pkg/zlib/libz.a'
file bin/file '$outdir'/file 755
man -d '$outdir' 1 file.1

srcs=`{grep -v '^#' magic.txt}
for(src in $srcs) build '$outdir'/magic/$src copy '$srcdir'/magic/Magdir/$src
for(src in Header Localstuff) build '$outdir'/magic/$src copy '$srcdir'/magic/$src
magic_outs=magic/^(Header Localstuff $srcs)

rule magic 'cd $outdir && file -C -m magic'
build '$outdir'/magic.mgc magic '|' '$outdir'/$magic_outs
file share/file/magic.mgc '$outdir'/magic.mgc 644

fetch git
