cflags\
	-D HAVE_CONFIG_H\
	-isystem '$builddir'/desktop/expat/include\
	-isystem desktop/freetype/src/include\
	-I include\
	-I '$dir' \
	-I '$outdir' \
	-I '$srcdir'

deps=phony/desktop/expat/headers

rule makealias '$srcdir/src/makealias $srcdir/src $out $in'
fn makealias {
	outs='$outdir'/^($1.h $1^tail.h)
	deps=($deps $outs)
	shift
	build $"outs makealias '$srcdir'/$* '|' '$srcdir'/src/makealias
}

makealias fcalias fontconfig/^(fontconfig.h fcprivate.h) src/fcdeprecate.h
makealias fcftalias fontconfig/fcfreetype.h

phony deps $"deps

lib libfontconfig.a -d 'phony/$dir/deps' src/^(\
	fcatomic.c\
	fcblanks.c\
	fccache.c\
	fccfg.c\
	fccharset.c\
	fccompat.c\
	fcdbg.c\
	fcdefault.c\
	fcdir.c\
	fcformat.c\
	fcfreetype.c\
	fcfs.c\
	fcinit.c\
	fclang.c\
	fclist.c\
	fcmatch.c\
	fcmatrix.c\
	fcname.c\
	fcobjs.c\
	fcpat.c\
	fcrange.c\
	fcserialize.c\
	fcstat.c\
	fcstr.c\
	fcweight.c\
	fcxml.c\
	ftglue.c\
) '$builddir'/^(\
	desktop/expat/libexpat.a\
	desktop/freetype/libfreetype.a.d\
)

fetch git
