cflags\
	-D 'VELOX_LIBEXEC=''"/libexec/velox"''' \
	-isystem desktop/fontconfig/src\
	-isystem desktop/libxkbcommon/src\
	-isystem '$builddir'/desktop/pixman/include\
	-isystem '$builddir'/desktop/swc/include\
	-isystem '$builddir'/desktop/wayland/include\
	-isystem '$builddir'/desktop/wld/include\
	-I '$outdir'

waylandproto protocol/velox.xml\
	protocol/velox-^(client server)^-protocol.h velox-protocol.c
build '$outdir'/protocol/swc-client-protocol.h copy '$builddir'/desktop/swc/include/swc-client-protocol.h

phony deps '$outdir'/^(\
	protocol/^(swc-client velox-^(client server))^-protocol.h\
) desktop/^(pixman swc wayland wld)^/headers\

exe velox -d '$dir'/deps \
	config.c\
	layout.c\
	screen.c\
	tag.c\
	util.c\
	velox.c\
	velox-protocol.c.o\
	window.c\
	'$builddir'/^(\
		desktop/swc/libswc.a.d\
		desktop/wayland/libwayland-server.a.d\
	)
file bin/velox '$outdir'/velox 755

exe status_bar -d '$dir'/deps clients/status_bar.c velox-protocol.c.o '$builddir'/^(\
	desktop/swc/swc-protocol.c.o\
	desktop/wld/libwld.a.d\
	desktop/wayland/libwayland-client.a.d\
)
file libexec/velox/status_bar '$outdir'/status_bar 755

fetch git
