cflags\
	-I include\
	-I '$dir' \
	-I '$outdir'/include\
	-I '$srcdir'/include

build '$outdir'/include/ffi.h sed '$srcdir'/include/ffi.h.in ; exprs=(\
	-e s,@VERSION@,3.2.1,\
	-e s,@TARGET@,X86_64,\
	-e s,@HAVE_LONG_DOUBLE@,1,\
	-e s,@HAVE_LONG_DOUBLE_VARIANT@,0,\
	-e s,@FFI_EXEC_TRAMPOLINE_TABLE@,0,\
) with expr $"exprs
build '$outdir'/include/ffitarget.h copy '$srcdir'/src/x86/ffitarget.h

hdrs=include/^(ffi.h ffitarget.h)
phony headers $hdrs
for(hdr in $hdrs) file $hdr '$outdir'/$hdr 644

lib libffi.a -d 'phony/$dir/headers' src/^(\
	prep_cif.c types.c raw_api.c java_raw_api.c closures.c\
	x86/^(ffi64.c unix64.S ffi.c sysv.S)\
)
file lib/libffi.a '$outdir'/libffi.a 644

fetch git
