cflags\
	-I '$dir' \
	-I '$outdir'/include\
	-I '$srcdir'/include\
	-I include\
	-idirafter pkg/openbsd/src/sys

build '$outdir'/include/event2/event-config.h\
	sed '$dir'/config.h '|' '$srcdir'/make-event-config.sed
with expr '-f $srcdir/make-event-config.sed'

phony headers '$outdir'/include/event2/event-config.h
phony deps '$dir'/headers '$builddir'/pkg/openbsd/fetch.stamp

lib libevent.a -d '$dir'/deps\
	buffer.c\
	bufferevent.c\
	bufferevent_filter.c\
	bufferevent_pair.c\
	bufferevent_ratelim.c\
	bufferevent_sock.c\
	event.c\
	evmap.c\
	evthread.c\
	evutil.c\
	evutil_rand.c\
	evutil_time.c\
	listener.c\
	log.c\
	\
	evdns.c\
	event_tagging.c\
	evrpc.c\
	http.c\
	\
	epoll.c signal.c

fetch git
