cflags\
	-D _GNU_SOURCE\
	-D 'SYSCONFDIR=''"/etc/libnl"''' \
	-isystem include\
	-I '$dir' \
	-I '$srcdir'/include


lib libnl-3.a lib/^(\
	addr.c attr.c cache.c cache_mngr.c cache_mngt.c data.c\
	error.c handlers.c msg.c nl.c object.c socket.c utils.c\
	version.c hash.c hashtable.c\
)

lib libnl-genl-3.a lib/genl/^(ctrl.c family.c genl.c mngt.c)
