cflags\
	'-std=c11' -Wall\
	-isystem pkg/libevdev/src\
	-isystem pkg/mtdev/src/include\
	-I include\
	-I '$dir'

phony deps '$builddir'/pkg/^(libevdev mtdev)^/fetch.stamp

lib libinput.a -d '$dir'/deps src/^(\
	libinput.c\
	libinput-util.c\
	evdev.c\
	evdev-middle-button.c\
	evdev-mt-touchpad.c\
	evdev-mt-touchpad-tap.c\
	evdev-mt-touchpad-buttons.c\
	evdev-mt-touchpad-edge-scroll.c\
	evdev-mt-touchpad-gestures.c\
	evdev-tablet.c\
	evdev-tablet-pad.c\
	evdev-tablet-pad-leds.c\
	filter.c\
	path-seat.c\
	timer.c\
) '$builddir'/pkg/^(\
	libevdev/libevdev.a\
	mtdev/libmtdev.a\
)

fetch git
