cflags\
	-D HAVE_CONFIG_H\
	-I include\
	-I '$dir' \
	-I '$outdir'/include

build '$outdir'/include/pixman-version.h sed '$srcdir'/pixman/pixman-version.h.in ; exprs=(\
	-e s,@PIXMAN_VERSION_MAJOR@,0,\
	-e s,@PIXMAN_VERSION_MINOR@,34,\
	-e s,@PIXMAN_VERSION_MICRO@,0,\
) with expr $"exprs
build '$outdir'/include/pixman.h copy '$srcdir'/pixman/pixman.h

phony headers '$outdir'/include/^(pixman.h pixman-version.h)

deps='phony/$dir/headers'

# processor-specific features
cflags -D 'USE_SSE2=1' -D 'USE_SSSE3=1' -D 'USE_X86_MMX=1'
cc pixman/pixman-mmx.c || $deps ; with cflags '$cflags -mmmx -Winline'
cc pixman/pixman-sse2.c || $deps ; with cflags '$cflags -msse2 -Winline'
cc pixman/pixman-ssse3.c || $deps ; with cflags '$cflags -mssse3 -Winline'
cpuobjs=(pixman-mmx.c pixman-sse2.c pixman-ssse3.c)^.o

lib libpixman.a -d $"deps pixman/^(\
	pixman.c\
	pixman-access.c\
	pixman-access-accessors.c\
	pixman-bits-image.c\
	pixman-combine32.c\
	pixman-combine-float.c\
	pixman-conical-gradient.c\
	pixman-filter.c\
	pixman-x86.c\
	pixman-mips.c\
	pixman-arm.c\
	pixman-ppc.c\
	pixman-edge.c\
	pixman-edge-accessors.c\
	pixman-fast-path.c\
	pixman-glyph.c\
	pixman-general.c\
	pixman-gradient-walker.c\
	pixman-image.c\
	pixman-implementation.c\
	pixman-linear-gradient.c\
	pixman-matrix.c\
	pixman-noop.c\
	pixman-radial-gradient.c\
	pixman-region16.c\
	pixman-region32.c\
	pixman-solid-fill.c\
	pixman-timer.c\
	pixman-trap.c\
	pixman-utils.c\
	$cpuobjs\
)

fetch git
