cflags\
	-I core/libfirm/src/include\
	-I '$builddir'/core/libfirm\
	-I '$srcdir'/src\
	-I '$outdir'

rule revision_hdr 'echo ''#define cparser_REVISION ""'' >$out.tmp && mv $out.tmp $out'
build '$outdir'/revision.h revision_hdr

srcs=src/^( main.c */*.c )
for(src in $srcs) cc $src '|' '$outdir'/revision.h '||' '$builddir/core/libfirm/stamp'
link cparser $srcs.o '$builddir'/core/libfirm/libfirm.a
file bin/cparser '$outdir'/cparser 755
file share/man/man1/cparser.1 '$srcdir'/cparser.1 644
