cflags\
	-I '$root_srcdir'/core/libfirm/src/include\
	-I '$root_outdir'/core/libfirm\
	-I '$srcdir'/src/src\
	-I '$outdir'

rule revision_hdr 'echo ''#define cparser_REVISION ""'' >$out.tmp && mv $out.tmp $out'
build '$outdir'/revision.h revision_hdr

cd src
srcs=src/^( main.c */*.c )
for(src in $srcs) cc $src '|' '$outdir'/revision.h '||' '$root_outdir/core/libfirm/stamp'
link cparser $srcs.o '$root_outdir'/core/libfirm/libfirm.a
file bin/cparser '$outdir'/cparser 755
file share/man/man1/cparser.1 '$srcdir'/src/cparser.1 644
