#!/bin/rc

flag e +

repo=$1
branch=$2
tag=$3

fn checkstatus {}

cd $repo

if([ -f refs/heads/$branch ]) parent=(-p $branch)
if not parent=()

message='oasis built by '`{id -un}
commit=`{echo $message | git commit-tree $tag $parent} ; checkstatus
git update-ref refs/heads/$branch $commit
