#!/bin/rc

flag e +

repo=$1
tag=$2
index=$3

fn checkstatus {}

ifs=() { oldcwd=`{pwd | head -c -1} }
cd $repo

git read-tree --empty
git update-index --index-info <$oldcwd/$index
tree=`{git write-tree} ; checkstatus
git update-ref refs/tags/$tag $tree
