version=v0.3-199-g4b0f94e
cflags\
	'-std=c99' \
	-D 'CONFIG_HELP=1' \
	-D 'CONFIG_CURSES=1' \
	-D 'CONFIG_LUA=1' \
	-D 'CONFIG_LPEG=1' \
	-D 'CONFIG_TRE=0' \
	-D 'CONFIG_SELINUX=0' \
	-D 'CONFIG_ACL=0' \
	-D 'HAVE_MEMRCHR=1' \
	-D '_POSIX_C_SOURCE=200809L' \
	-D '_XOPEN_SOURCE=700' \
	-D 'VERSION=''"'$version'"''' \
	-D 'VIS_PATH=''"/share/vis"''' \
	-D NDEBUG\
	-isystem pkg/libtermkey/src\
	-isystem pkg/lua/src/src\
	-isystem '$builddir'/pkg/ncurses/include\
	-I '$outdir'

build '$outdir'/config.h copy '$srcdir'/config.def.h

phony deps '$outdir'/config.h '$builddir'/pkg/^(\
	libtermkey/fetch.stamp\
	lua/fetch.stamp\
) pkg/ncurses/headers

exe vis -d '$dir'/deps \
	array.c buffer.c libutf.c main.c map.c\
	sam.c text.c text-motions.c text-objects.c text-util.c\
	ui-terminal.c view.c vis.c vis-lua.c vis-modes.c vis-motions.c\
	vis-operators.c vis-registers.c vis-marks.c vis-prompt.c vis-text-objects.c text-regex.c\
	'$builddir'/pkg/^(\
		libtermkey/libtermkey.a.d\
		lpeg/liblpeg.a\
		lua/liblua.a\
		ncurses/libncurses.a\
	)
file bin/vis '$outdir'/vis 755

exe vis-digraph vis-digraph.c
file bin/vis-digraph '$outdir'/vis-digraph 755

exe vis-menu vis-menu.c
file bin/vis-menu '$outdir'/vis-menu 755

file bin/vis-open '$srcdir'/vis-open 755

for(f in vis.1 vis-digraph.1 vis-menu.1 vis-open.1) {
	build '$outdir'/$f sed '$srcdir'/man/$f ; with\
		expr s,VERSION,$version,
	man -d '$outdir' 1 $f
}

lua=`{grep -v '^#' lua.txt} ; checkstatus
for(f in $lua)
	file share/vis/$f '$srcdir'/lua/$f 644
sym share/vis/lexer.lua lexers/lexer.lua
sym share/vis/themes/default-16.lua dark-16.lua
sym share/vis/themes/default-256.lua dark-16.lua

fetch git
gen_inputs='$dir'/lua.txt
