version=v0.2-539-g37d98f3
cflags\
	'-std=c99' \
	-D 'CONFIG_ACL=0' \
	-D 'CONFIG_LPEG=1' \
	-D 'CONFIG_TRE=0' \
	-D 'CONFIG_LUA=1' \
	-D 'CONFIG_SELINUX=0' \
	-D '_POSIX_C_SOURCE=200809L' \
	-D '_XOPEN_SOURCE=700' \
	-D 'VERSION=''"'$version'"''' \
	-D 'VIS_PATH=''"/share/vis"''' \
	-D NDEBUG\
	-isystem pkg/libtermkey/src\
	-isystem pkg/lua/src/src\
	-isystem '$builddir'/pkg/ncurses/include\
	-I '$outdir'

build '$outdir'/config.h copy '$srcdir'/config.def.h

phony deps '$outdir'/config.h '$builddir'/pkg/^(\
	libtermkey/fetch.stamp\
	lua/fetch.stamp\
) pkg/ncurses/headers

exe vis -d '$dir'/deps \
	array.c buffer.c libutf.c main.c map.c register.c ring-buffer.c\
	sam.c text.c text-motions.c text-objects.c text-util.c\
	ui-curses.c view.c vis.c vis-lua.c vis-modes.c vis-motions.c\
	vis-operators.c vis-prompt.c vis-text-objects.c text-regex.c\
	'$builddir'/pkg/^(\
		libtermkey/libtermkey.a.d\
		lpeg/liblpeg.a\
		lua/liblua.a\
		ncurses/libncurses.a\
	)
file bin/vis '$outdir'/vis 755

exe vis-digraph vis-digraph.c
file bin/vis-digraph '$outdir'/vis-digraph 755

exe vis-menu vis-menu.c
file bin/vis-menu '$outdir'/vis-menu 755

file bin/vis-open '$srcdir'/vis-open 755

for(f in vis.1 vis-digraph.1 vis-menu.1 vis-open.1) {
	build '$outdir'/$f sed '$srcdir'/man/$f ; with\
		expr s,VERSION,$version,
	man -d '$outdir' 1 $f
}

# <cd src/lua/lexers && printf '\t%s\\\n' *.lua | sort
lexers=(\
	lexer.lua\
	vis-std.lua\
	vis.lua\
	visrc.lua\
	plugins/^(\
		filetype.lua\
		textobject-lexer.lua\
	)\
	lexers/^(\
		actionscript.lua\
		ada.lua\
		ansi_c.lua\
		antlr.lua\
		apdl.lua\
		apl.lua\
		applescript.lua\
		asm.lua\
		asp.lua\
		autoit.lua\
		awk.lua\
		bash.lua\
		batch.lua\
		bibtex.lua\
		boo.lua\
		caml.lua\
		chuck.lua\
		cmake.lua\
		coffeescript.lua\
		container.lua\
		context.lua\
		cpp.lua\
		crystal.lua\
		csharp.lua\
		css.lua\
		cuda.lua\
		dart.lua\
		desktop.lua\
		diff.lua\
		django.lua\
		dmd.lua\
		dockerfile.lua\
		dot.lua\
		dsv.lua\
		eiffel.lua\
		elixir.lua\
		erlang.lua\
		faust.lua\
		fish.lua\
		forth.lua\
		fortran.lua\
		fsharp.lua\
		fstab.lua\
		gap.lua\
		gettext.lua\
		gherkin.lua\
		glsl.lua\
		gnuplot.lua\
		go.lua\
		groovy.lua\
		gtkrc.lua\
		haskell.lua\
		html.lua\
		icon.lua\
		idl.lua\
		inform.lua\
		ini.lua\
		io_lang.lua\
		java.lua\
		javascript.lua\
		json.lua\
		jsp.lua\
		latex.lua\
		ledger.lua\
		less.lua\
		lexer.lua\
		lilypond.lua\
		lisp.lua\
		litcoffee.lua\
		lua.lua\
		makefile.lua\
		man.lua\
		markdown.lua\
		matlab.lua\
		moonscript.lua\
		nemerle.lua\
		networkd.lua\
		nim.lua\
		nsis.lua\
		null.lua\
		objective_c.lua\
		pascal.lua\
		perl.lua\
		php.lua\
		pico8.lua\
		pike.lua\
		pkgbuild.lua\
		powershell.lua\
		prolog.lua\
		props.lua\
		protobuf.lua\
		ps.lua\
		pure.lua\
		python.lua\
		rails.lua\
		rc.lua\
		rebol.lua\
		rest.lua\
		rexx.lua\
		rhtml.lua\
		rstats.lua\
		ruby.lua\
		rust.lua\
		sass.lua\
		scala.lua\
		scheme.lua\
		smalltalk.lua\
		sml.lua\
		snobol4.lua\
		sql.lua\
		systemd.lua\
		taskpaper.lua\
		tcl.lua\
		tex.lua\
		texinfo.lua\
		text.lua\
		toml.lua\
		vala.lua\
		vb.lua\
		vbscript.lua\
		vcard.lua\
		verilog.lua\
		vhdl.lua\
		wsf.lua\
		xml.lua\
		xtend.lua\
		yaml.lua\
	)\
	themes/^(\
		dark-16.lua\
		light-16.lua\
		solarized.lua\
	)\
)
for(f in $lexers)
	file share/vis/$f '$srcdir'/lua/$f 644
sym share/vis/themes/default-16.lua dark-16.lua
sym share/vis/themes/default-256.lua dark-16.lua

fetch git
