cflags\
	-D HAVE_CONFIG_H\
	-I include\
	-I '$dir' \
	-I '$srcdir' \
	-I '$outdir'/include

exprs=(\
	-e s,@PCRE_MAJOR@,8,\
	-e s,@PCRE_MINOR@,38,\
	-e s,@PCRE_PRERELEASE@,,\
	-e s,@PCRE_DATE@,2015-11-23,\
) let expr $"exprs -- build '$outdir'/include/pcre.h sed '$srcdir'/pcre.h.in

phony headers '$outdir'/include/pcre.h

build '$outdir'/pcre_chartables.c copy '$srcdir'/pcre_chartables.c.dist
lib libpcre.a -d 'phony/$dir/headers' \
	pcre_byte_order.c\
	pcre_compile.c\
	pcre_config.c\
	pcre_dfa_exec.c\
	pcre_exec.c\
	pcre_fullinfo.c\
	pcre_get.c\
	pcre_globals.c\
	pcre_jit_compile.c\
	pcre_maketables.c\
	pcre_newline.c\
	pcre_ord2utf8.c\
	pcre_refcount.c\
	pcre_string_utils.c\
	pcre_study.c\
	pcre_tables.c\
	pcre_ucd.c\
	pcre_valid_utf8.c\
	pcre_version.c\
	pcre_xclass.c\
	'$outdir'/pcre_chartables.c
