set cc '$cxx'
set cflags '$cxxflags' \
	-Wall -Wextra -Wno-deprecated -Wno-unused-parameter\
	-fno-rtti -fno-exceptions -fvisibility'='hidden\
	-D USE_PPOLL

exe ninja src/^(\
	ninja.cc\
	build.cc\
	build_log.cc\
	clean.cc\
	clparser.cc\
	debug_flags.cc\
	depfile_parser.cc\
	deps_log.cc\
	disk_interface.cc\
	edit_distance.cc\
	eval_env.cc\
	graph.cc\
	graphviz.cc\
	lexer.cc\
	line_printer.cc\
	manifest_parser.cc\
	metrics.cc\
	state.cc\
	util.cc\
	version.cc\
	subprocess-posix.cc\
)

file bin/ninja '$outdir'/ninja 755

fetch git
