cflags\
	-D '_FILE_OFFSET_BITS=64' \
	-D 'FUSE_USE_VERSION=26' \
	-I extra/libfuse/src/include\
	-I '$dir'

build '$outdir'/sshfs.1 sed '$srcdir'/sshfs.1.in ; with\
	expr 's,__UNMOUNT_COMMAND__,''fusermount -u'','

exe sshfs sshfs.c nocache.c '$builddir'/extra/libfuse/libfuse.a
file bin/sshfs '$outdir'/sshfs 755
file share/man/man1/sshfs.1 '$outdir'/sshfs.1 644

fetch git
