cflags\
	-I devel/libfirm/src/include\
	-I '$builddir'/devel/libfirm/include\
	-I '$srcdir'/src\
	-I '$outdir'

rule revision_hdr 'echo ''#define cparser_REVISION ""'' >$out.tmp && mv $out.tmp $out'
build '$outdir'/revision.h revision_hdr

srcs=src/^(\
	main.c\
	adt/^(panic.c pset_new.c strutil.c)\
	ast/^(\
                ast.c attribute.c constfold.c entity.c printer.c string_hash.c\
                string_rep.c symbol_table.c type.c type_hash.c types.c walk.c\
	)\
	driver/^(\
                actions.c c_driver.c diagnostic.c driver.c help.c\
                machine_triple.c options.c predefs.c target.c tempfile.c\
                timing.c warning.c\
	)\
	firm/^(ast2firm.c firm_opt.c jittest.c jump_target.c mangle.c)\
	parser/^(builtins.c format_check.c input.c parser.c preprocessor.c token.c)\
	wrappergen/^(write_compoundsizes.c write_fluffy.c write_jna.c)\
)
for(src in $srcs) cc $src '||' '$outdir'/revision.h phony/devel/libfirm/headers
link cparser $srcs.o '$builddir'/devel/libfirm/libfirm.a
file bin/cparser '$outdir'/cparser 755
file share/man/man1/cparser.1 '$srcdir'/cparser.1 644
