set srcdir '$dir'
cflags\
	-Wall -Wextra -Wno-unused-parameter -pedantic\
	'-std=c11'

exe applyperms applyperms.c
file libexec/applyperms '$outdir'/applyperms 755

exe shutdown shutdown.c
file libexec/shutdown '$outdir'/shutdown 755
