cflags\
	'-std=c90' \
	-D '_POSIX_C_SOURCE=200809L' \
	-I '$outdir' \
	-I '$srcdir'

yacc gram '$srcdir'/awkgram.y
build '$outdir'/ytab.h copy '$outdir'/gram.tab.h

{
	toolchain host
	cflags -I '$outdir'
	exe maketab -d '$outdir'/ytab.h maketab.c
} >tools.ninja ; subninja tools.ninja

rule maketab '(cd $outdir && ./maketab) >$out.tmp && mv $out.tmp $out'
build '$outdir'/proctab.c maketab '|' '$outdir'/^(maketab ytab.h)

exe awk -d '$outdir'/ytab.h\
	b.c main.c parse.c tran.c lib.c run.c lex.c\
	'$outdir'/^(gram.tab.c proctab.c)
file bin/awk '$outdir'/awk 755
man 1 awk.1

fetch git
