cflags\
	-I '$srcdir'/include\
	-I '$srcdir'/src/cmd/rc\
	-I '$srcdir'/src/lib9/fmt\
	-I '$outdir'

yacc x '$srcdir'/src/cmd/rc/syn.y

static_lib lib9.a src/lib9/^(\
	_p9dir.c\
	argv0.c\
	atexit.c\
	atoi.c\
	await.c\
	create.c\
	dirfstat.c\
	dirread.c\
	dirstat.c\
	dup.c\
	errstr.c\
	fmt/dofmt.c\
	fmt/fltfmt.c\
	fmt/fmt.c\
	fmt/fmtfd.c\
	fmt/fmtfdflush.c\
	fmt/fmtlocale.c\
	fmt/fmtstr.c\
	fmt/fprint.c\
	fmt/nan64.c\
	fmt/runefmtstr.c\
	fmt/smprint.c\
	fmt/snprint.c\
	fmt/sprint.c\
	fmt/strtod.c\
	fmt/vfprint.c\
	fmt/vseprint.c\
	fmt/vsmprint.c\
	fmt/vsnprint.c\
	fmtlock2.c\
	get9root.c\
	getcallerpc-x86_64.c\
	getenv.c\
	jmp.c\
	main.c\
	malloc.c\
	mallocz.c\
	notify.c\
	open.c\
	pipe.c\
	postnote.c\
	qlock.c\
	readn.c\
	rfork.c\
	seek.c\
	strdup.c\
	strecpy.c\
	sysfatal.c\
	tokenize.c\
	unsharp.c\
	utf/rune.c\
	utf/utflen.c\
	utf/utfnlen.c\
	utf/utfrune.c\
	wait.c\
	write.c\
)

srcs=('$outdir'/x.tab.c src/cmd/rc/^(\
	code.c\
	exec.c\
	getflags.c\
	glob.c\
	havefork.c\
	here.c\
	io.c\
	lex.c\
	pcmd.c\
	pfnc.c\
	plan9ish.c\
	simple.c\
	subr.c\
	trap.c\
	tree.c\
	unixcrap.c\
	var.c\
))
for(src in $srcs) cc $src '||' '$outdir'/x.tab.h
link rc $srcs.o lib9.a

file bin/rc '$outdir'/rc 755
file share/man/man1/rc.1 '$srcdir'/man/man1/rc.1 644
file lib/rcmain '$srcdir'/rcmain 644
