cflags -I '$dir'

exe zic zic.c

rule zic '$zic -d $outdir/zoneinfo $in'
file bin/zic '$outdir'/zic 755

tzdata=(\
	africa\
	antarctica\
	asia\
	australasia\
	europe\
	northamerica\
	southamerica\
	pacificnew\
	etcetera\
	backward\
	systemv\
	factory\
)
build '$outdir'/tzdata.index awk '$srcdir'/$tzdata '|' scripts/hash.rc '$dir/tzdata.awk' ; with\
	expr '-f $dir/tzdata.awk out=$outdir/zoneinfo repo=$repo'
index_inputs=($index_inputs '$outdir'/tzdata.index)

fetch git
