version=1.43.4
cflags\
	-D HAVE_CONFIG_H\
	-I include\
	-I '$dir' \
	-I '$outdir'/include\
	-I '$outdir'/internal\
	-I '$outdir'/internal/support\
	-I '$srcdir'/lib

set subst\
	-e s,@E2FSPROGS_VERSION@,$version,\
	-e s,@E2FSPROGS_MONTH@,June,\
	-e s,@E2FSPROGS_YEAR@,2016,\
	-e s,@JDEV@,,

fn et {
	et=$1 src='$outdir'/$2 hdr='$outdir'/$3
	build $src awk $et '|' '$srcdir'/lib/et/et_c.awk ; with\
		expr '-f $srcdir/lib/et/et_c.awk -v outfile=/dev/stdout outfn='`{basename $src}
	build $hdr awk $et '|' '$srcdir'/lib/et/et_h.awk ; with\
		expr '-f $srcdir/lib/et/et_h.awk -v outfile=/dev/stdout outfn='`{basename $hdr}
}

fn subst {
	build '$outdir'/$1 sed '$srcdir'/$2 ; with expr '$subst'
}

fn substman {
	subdir=$1
	sec=$3
	src=$2.$sec
	subst $subdir/$src $subdir/$src.in
	man -d '$outdir'/$subdir $sec $src
}

subst ext2_err.et lib/ext2fs/ext2_err.et.in
et '$outdir'/ext2_err.et ext2_err.c include/ext2fs/ext2_err.h
et '$srcdir'/lib/support/prof_err.et prof_err.c internal/support/prof_err.h

build '$outdir'/include/blkid/blkid.h copy '$srcdir'/lib/blkid/blkid.h.in
build '$outdir'/include/ext2fs/ext2_types.h copy '$dir'/ext2_types.h
build '$outdir'/include/uuid/uuid.h copy '$srcdir'/lib/uuid/uuid.h.in
build '$outdir'/internal/blkid/blkid_types.h copy '$dir'/blkid_types.h

{
	toolchain host
	exe gen_crc32ctable lib/ext2fs/gen_crc32ctable.c
} >tools.ninja ; subninja tools.ninja
rule gen_crc32ctable '$outdir/gen_crc32ctable >$out.tmp && mv $out.tmp $out'
build '$outdir'/internal/crc32c_table.h gen_crc32ctable '|' '$outdir'/gen_crc32ctable

phony headers '$outdir'/include/^(\
	blkid/blkid.h\
	ext2fs/^(ext2_err.h ext2_types.h)\
	uuid/uuid.h\
)
phony deps '$dir'/headers '$outdir'/internal/^(\
	blkid/blkid_types.h support/prof_err.h crc32c_table.h\
)

lib libcomm_err.a -d '$dir'/deps\
	lib/et/^(error_message.c et_name.c init_et.c com_err.c com_right.c)
lib libblkid.a -d '$dir'/deps lib/blkid/^(\
	cache.c dev.c devname.c devno.c getsize.c llseek.c probe.c\
	read.c resolve.c save.c tag.c version.c\
)
lib libe2p.a -d '$dir'/deps lib/e2p/^(\
	feature.c fgetflags.c fsetflags.c fgetversion.c fsetversion.c\
	getflags.c getversion.c hashstr.c iod.c ls.c ljs.c mntopts.c\
	parse_num.c pe.c pf.c ps.c setflags.c setversion.c uuid.c\
	ostype.c percent.c crypto_mode.c fgetproject.c fsetproject.c\
)
lib libext2fs.a -d '$dir'/deps '$outdir'/ext2_err.c lib/ext2fs/^(\
	alloc.c\
	alloc_sb.c\
	alloc_stats.c\
	alloc_tables.c\
	atexit.c\
	badblocks.c\
	bb_inode.c\
	bitmaps.c\
	bitops.c\
	blkmap64_ba.c\
	blkmap64_rb.c\
	blknum.c\
	block.c\
	bmap.c\
	check_desc.c\
	closefs.c\
	crc16.c\
	crc32c.c\
	csum.c\
	dblist.c\
	dblist_dir.c\
	dirblock.c\
	dirhash.c\
	dir_iterate.c\
	expanddir.c\
	ext_attr.c\
	extent.c\
	fallocate.c\
	fileio.c\
	finddev.c\
	flushb.c\
	freefs.c\
	gen_bitmap.c\
	gen_bitmap64.c\
	get_num_dirs.c\
	get_pathname.c\
	getsize.c\
	getsectsize.c\
	i_block.c\
	icount.c\
	ind_block.c\
	initialize.c\
	inline.c\
	inline_data.c\
	inode.c\
	io_manager.c\
	ismounted.c\
	link.c\
	llseek.c\
	lookup.c\
	mkdir.c\
	mkjournal.c\
	mmp.c\
	namei.c\
	native.c\
	newdir.c\
	openfs.c\
	progress.c\
	punch.c\
	qcow2.c\
	read_bb.c\
	read_bb_file.c\
	res_gdt.c\
	rw_bitmaps.c\
	sha512.c\
	swapfs.c\
	symlink.c\
	undo_io.c\
	unix_io.c\
	unlink.c\
	valid_blk.c\
	version.c\
	rbtree.c\
	\
	dupfs.c\
)
lib libsupport.a -d '$dir'/deps '$outdir'/prof_err.c lib/support/^(\
	cstring.c\
	mkquota.c\
	plausible.c\
	profile.c\
	parse_qtype.c\
	profile_helpers.c\
	quotaio.c\
	quotaio_v2.c\
	quotaio_tree.c\
	dict.c\
)
lib libuuid.a -d '$dir'/deps lib/uuid/^(\
	clear.c\
	compare.c\
	copy.c\
	gen_uuid.c\
	isnull.c\
	pack.c\
	parse.c\
	unpack.c\
	unparse.c\
	uuid_time.c\
)

libs=(libsupport.a libext2fs.a libe2p.a libblkid.a libuuid.a libcomm_err.a)

exe bin/e2fsck -d '$dir'/headers e2fsck/^(\
	unix.c e2fsck.c super.c pass1.c pass1b.c pass2.c\
	pass3.c pass4.c pass5.c journal.c badblocks.c util.c dirinfo.c\
	dx_dirinfo.c ehandler.c problem.c message.c quota.c recovery.c\
	region.c revoke.c ea_refcount.c rehash.c\
	logfile.c sigcatcher.c readahead.c\
	extents.c\
) $libs
file bin/e2fsck '$outdir'/bin/e2fsck 755
substman e2fsck e2fsck 8
substman e2fsck e2fsck.conf 5

exe bin/resize2fs -d '$dir'/headers resize/^(\
	extent.c resize2fs.c main.c online.c resource_track.c\
	sim_progress.c\
) $libs
file bin/resize2fs '$outdir'/bin/resize2fs 755
substman resize resize2fs 8

build '$outdir'/default_profile.c awk '$srcdir'/misc/mke2fs.conf.in '|' '$srcdir'/misc/profile-to-c.awk ; with\
	expr '-f $srcdir/misc/profile-to-c.awk'

exe bin/mke2fs -d '$dir'/headers misc/^(\
	mke2fs.c util.c mk_hugefiles.c\
	create_inode.c\
) '$outdir'/default_profile.c $libs
file bin/mke2fs '$outdir'/bin/mke2fs 755
substman misc mke2fs 8

fetch git
