cflags\
	-isystem '$builddir'/pkg/alsa-lib/include\
	-I include\
	-I '$dir' \
	-I '$srcdir'/include

fn x {
	name=$1
	shift
	exe bin/$name -d pkg/alsa-lib/headers $*\
		'$builddir'/pkg/alsa-lib/libasound.a
	file bin/$name '$outdir'/bin/$name 755
	file share/man/man1/$name.1 '$srcdir'/$name/$name.1 644
}

x amixer amixer/amixer.c alsamixer/volume_mapping.c
x aplay aplay/aplay.c
sym bin/arecord aplay
sym share/man/man1/arecord.1 aplay.1

fetch git
