cflags\
	-D 'DATADIR=''"/share/kbd"''' \
	-I include\
	-I '$dir' \
	-I '$srcdir' \
	-I '$srcdir'/src\
	-I '$srcdir'/src/libkeymap\
	-I '$srcdir'/src/libkeymap/keymap

lib libcommon.a src/^(getfd.c xmalloc.c kbd_error.c)
lib libfont.a src/^(kdfontop.c kdmapop.c loadunimap.c psffontop.c utf8.c)
lib libkeymap.a src/libkeymap/^(\
	analyze.c\
	array.c\
	common.c\
	diacr.c\
	dump.c\
	findfile.c\
	func.c\
	kernel.c\
	kmap.c\
	ksyms.c\
	loadkeys.c\
	modifiers.c\
	parser.c\
	summary.c\
)

# old: loadunimap mapscrn
# optional: clrunmap getunimap setlogcons setvesablank setpalette screendump
# i386/x86_64 only: resizecons
# ubase: chvt

fn x {
	sect=$1
	exe=$2
	shift 2
	exe $exe src/$exe.c $* libcommon.a libfont.a libkeymap.a
	file bin/$exe '$outdir'/$exe 755
	if(~ $sect ?~) {
		sect=`{printf %s $sect | cut -c -1}
		let expr s,@DATADIR@,/share/kbd,g --\
			build '$outdir'/$exe.$sect sed '$srcdir'/docs/man/man$sect/$exe.$sect.in
		man='$outdir'/$exe.$sect
	}
	if not man='$srcdir'/docs/man/man$sect/$exe.$sect
	if(~ $sect [18]) file share/man/man$sect/$exe.$sect $man 644
	status=()
}

x 1 deallocvt
x 1~ dumpkeys
x 1 fgconsole
x 8 getkeycodes
x 1 kbd_mode
x - kbdinfo
x 1~ loadkeys
x 1 openvt
x 1 psfxtable
x 8~ setfont src/mapscrn.c
x 8 setkeycodes
x 8 setvtrgb
x 8 showconsolefont
x 1 showkey

# keymap data
cd data
keymaps=(\
include sun amiga atari\
i386/^(azerty bepo dvorak fgGIod qwerty qwertz include olpc colemak)\
mac/^(include all)\
)
for(keymap in keymaps/$keymaps/*) {
	build '$outdir'/$keymap.gz gzip '$srcdir'/data/$keymap
	file share/kbd/$keymap.gz '$outdir'/$keymap.gz 644
}
sym share/kbd/keymaps/ppc mac
