cflags\
	-D HAVE_HIDDEN\
	-D HAVE_STDARG_H\
	-D HAVE_UNISTD_H\
	-D _LARGEFILE64_SOURCE

lib libz.a\
	adler32.c\
	crc32.c\
	deflate.c\
	infback.c\
	inffast.c\
	inflate.c\
	inftrees.c\
	trees.c\
	zutil.c\
	\
	compress.c\
	uncompr.c\
	gzclose.c\
	gzlib.c\
	gzread.c\
	gzwrite.c
file lib/libz.a '$outdir'/libz.a 644

hdrs=(zlib.h zconf.h)
for(hdr in $hdrs) {
	build '$outdir'/include/$hdr copy '$srcdir'/$hdr
	file include/$hdr '$srcdir'/$hdr 644
}
phony headers '$outdir'/include/$hdrs

fetch git
