cflags\
	-DHAVE_HIDDEN\
	-DHAVE_STDARG_H\
	-DHAVE_UNISTD_H\
	-D_LARGEFILE64_SOURCE

lib libz.a\
	adler32.c\
	crc32.c\
	deflate.c\
	infback.c\
	inffast.c\
	inflate.c\
	inftrees.c\
	zutil.c\
	\
	compress.c\
	uncompr.c\
	gzclose.c\
	gzlib.c\
	gzread.c\
	gzwrite.c

# Only expose the headers needed to build with zlib.
hdrs=(zlib.h zconf.h)
for(hdr in $hdrs) build '$outdir'/include/$hdr copy '$srcdir'/$hdr
phony headers include/$hdrs
