rule wayland_proto 'wayland-scanner $type $in $out.tmp && mv $out.tmp $out'

subgen expat
subgen fontconfig
subgen freetype
subgen libdrm
subgen libevdev
subgen libffi
subgen libpciaccess
subgen libxkbcommon
subgen pixman
subgen plan9fonts
subgen wayland
