subgen expat
subgen fontconfig
subgen freetype
subgen libdrm
subgen libevdev
subgen libffi
subgen libpciaccess
subgen libxkbcommon
subgen pixman
subgen plan9fonts
subgen swc
subgen terminus-font
subgen wayland
subgen wayland-protocols
subgen wld
